#content {
  footer {
    clear: both;
    border-top: 1px solid $grey-2;
    padding-top: $gutter;
    padding-bottom: $gutter*1.5;

    .description {
      @include bold-24();
      @include grid-column( 2/3 );
      margin-top: 0;
      margin-bottom: $gutter;
    }

    .footer-text {
      @include bold-24();
      margin-top: 0;
      margin-bottom: $gutter;
    }

    .footer-left {
      padding-right: 30px;
      @include grid-column( 1/3 );
    }

    .footer-right {
      @include grid-column( 2/3 );
    }

    .related-pages {
      margin-bottom: $gutter;
    }

    h3 {
      @include core-16();
      margin-bottom: 5px;
    }

    h4 {
      @include bold-16();
    }

    .notes {
      @include core-16();
    }

  }
}
