<header>
  <h1>
    {{# strapline }}<span class="strapline">{{ strapline }}</span>{{/ strapline }}
    {{ title }}
  </h1>
  {{# tagline }}
    <p class="tagline {{# related_pages_title }}with-related-pages{{/ related_pages_title }}">
      {{{ tagline }}}
    </p>
  {{/ tagline }}
  {{# related_pages_title }}
    <aside class='related-pages' role='complementary'>
      <h3 class='popover-link'>{{ related_pages_title }}</h3>
      <ul class="items">
        {{# related_pages }}
        <li>
          <h3>
            <a href="{{ url }}" rel="external" target="_blank">{{ title }}</a>
          </h3>
          {{# metadata }}
          <span class="metadata">{{{ metadata }}}</span>
          {{/ metadata }}
        </li>
        {{/ related_pages }}
      </ul>
    </aside>
  {{/ related_pages_title }}
</header>

{{{ modules }}}
