<header>
  <h2>
    <span class="count"><%= items.count %></span>
    <span class="title"><%= title %></span>
  </h2>
</header>
<dl>
  <% _.each(items, function (list, letter) { %>
    <% if (letter !== 'count') { %>
      <dt><%= letter %></dt>
      <dd>
        <ol>
          <% _.each(list, function (item) { %>
            <li>
              <a href="/performance/<%= item.slug %>"><%= item.title %></a>
              <% if (item.department) { %>
              <abbr title="<%= item.department.title %>" class="department"><%= item.department.abbr %></abbr>
              <% } %>
            </li>
          <% }) %>
        </ol>
      </dd>
    <% } %>
  <% }) %>
</dl>