<div id='labs-content'>

  <section id='prototypes-warning'>
    <h2>Prototypes</h2>
    <p>This information should not be used in an emergency.</p>
    <p>
      These prototypes may break at any time, and may disappear temporarily or permanently.
      They may not be accessible or work in older browsers.
    </p>
  </section>

  <header>
    <h1>Performance Platform labs</h1>

    <p>We're prototyping different ways of presenting data from government services.</p>

    <p>
      If you work in government and you want to work with a data scientist,
      <a href='FIXME'>get in touch</a>.
    </p>
  </header>

  <section id='main-project'>
    <a href='FIXME'>
      <img src='FIXME' alt='Screenshot of river levels tracker' width='FIXME' height='FIXME' />
    </a>
    <div>
      <a href='FIXME'>
        <h2>UK river levels tracker</h2>
      </a>
      <p>Combines data from data.gov.uk and the Met Office to show river levels in the United Kingdom.</p>
    </div>
  </section>

  <section>
    <div class='cols3 secondary-project'>
      <a href='FIXME'>
        <img src='FIXME' alt='Screenshot of GOV.UK performance displays' width='FIXME' height='FIXME' />
      </a>
      <h2>GOV.UK performance displays</h2>
      <p>Displays information about GOV.UK use in a full-screen, responsive carousel.</p>
      <ul>
        <li><a href='FIXME'>GOV.UK users right now</a></li>
        <li><a href='FIXME'>GOV.UK usage statistics</a></li>
        <li><a href='FIXME'>Transaction users right now</a></li>
        <li><a href='FIXME'>GOV.UK top content</a></li>
      </ul>
    </div>

    <div class='cols3 secondary-project'>
      <a href='FIXME'>
        <img src='FIXME' alt='Screenshot of foreign travel advice tracker' width='FIXME' height='FIXME' />
      </a>
      <a href='FIXME'>
        <h2>Foreign travel advice tracker</h2>
      </a>
      <p>Uses GOV.UK browsing data to show how views of travel advice has changed over the last seven days.</p>
    </div>

    <div class='cols3 secondary-project'>
      <a href='FIXME'>
        <img src='FIXME' alt='FIXME' width='FIXME' height='FIXME' />
      </a>
      <a href='FIXME'>
        <h2>
          Another project
        </h2>
      </a>
      <p>Text.</p>
    </div>
  </section>

</div>
