<% if (model.get('restricted_data') === true) { %>
  <div class="module-banner-text">
    <p>This section contains <strong>commercially licensed data</strong>. Do not share or redistribute outside government.</p>
  </div>
<% } %>


<% if (model.get('info')) { %>
<details class="more-info" role="complementary">
  <summary class="more-info-link">more info</summary>
  <ul>
    <% _.each(model.get('info'), function (row) { %>
    <li><%= row %></li>
    <% }) %>
  </ul>
</details>
<% } %>

<% if (model.get('page-type') === 'module') { %><h1 id="<%= this.ariaId() %>"><% } else { %><h2 id="<%= this.ariaId() %>"><% } %>
<%= model.get('title') %>
<% if (model.get('page-type') === 'module') { %></h1><% } else { %></h2><% } %>

<% if (model.get('description')) { %>
	<% if (model.get('page-type') === 'module') { %><h2 class="dashboard"><% } else { %><h3><% } %>
	<%= model.get('description') %>
	<% if (model.get('page-type') === 'module') { %></h2><% } else { %></h3><% } %>
<% } %>

<% if (fallback) { %>
  <div class="visualisation-fallback" data-src="<%= fallbackUrl %>">
    <noscript><img src="<%= fallbackUrl %>"/></noscript>
  </div>
<% } else { %>
  <div class="visualisation"></div>
<% } %>
