<% if (model.get('restricted_data') === true) { %>
  <div class="module-banner-text">
    <p>This section contains <strong>commercially licensed data</strong>. Do not share or redistribute outside government.</p>
  </div>
<% } %>


<% if (model.get('info')) { %>
<details class="more-info">
  <summary class="more-info-link">more info</summary>
  <ul>
    <% _.each(model.get('info'), function (row) { %>
    <li><%= row %></li>
    <% }) %>
  </ul>
</details>
<% } %>
<h1><%= model.get('title') %></h1>
<% if (model.get('description')) { %>
  <h2><%= model.get('description') %></h2>
<% } %>

<% if (fallback) { %>
  <div class="visualisation-fallback" data-src="<%= fallbackUrl %>">
    <noscript><img src="<%= fallbackUrl %>"/></noscript>
  </div>
<% } else { %>
  <div class="visualisation"></div>
<% } %>
