<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/performance" id="proposition-name">
        Performance <span class="alpha-tag">Alpha</span>
      </a>
      <ul id="proposition-links">
        <li><a href="/performance/services" class="active">Services</a></li>
        <li><a href="/performance/dashboard" class="">GOV.UK performance</a></li>
        <li><a href="/performance/transactions-explorer" class="">Transactions Explorer</a></li>   
      </ul>
    </nav>
  </div>
</div>
