<div id='prototypes-content'>

  <header>
    <h1>Performance prototypes</h1>

    <p>We're prototyping different ways of presenting data from government services.</p>

    <p>
      If you work in government and you want to work with a data scientist,
      <a href='mailto:performance@digital.cabinet-office.gov.uk'>get in touch</a>.
    </p>
  </header>

  <section id='prototypes-warning'>
    <h2>Disclaimer</h2>
    <p>
      These prototypes may break at any time, and may disappear temporarily or permanently.
      They may not be accessible or work in older browsers.
    </p>
  </section>

  <section id='main-project'>
    <a href='http://morning-retreat-5772.herokuapp.com/'>
      <img src='<%= assetPath %>images/<%= assetDigest['prototypes-staff-in-government-buildings.jpg'] %>' alt='Screenshot of staff numbers in government buildings visualisation' width='630' height='355' />
    </a>
    <div>
      <a href='http://morning-retreat-5772.herokuapp.com/'>
        <h2>Staff numbers in government buildings</h2>
      </a>
      <p>Uses <a href='http://data.gov.uk/dataset/epims'>data from data.gov.uk</a> to show staff numbers in Government Central Civil Estate properties.</p>
    </div>
  </section>

  <section>
    <div class='cols2 secondary-project'>
      <a href='http://gds-screens-realtime.herokuapp.com/'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-govuk-performance-displays.jpg'] %>' alt='Screenshot of GOV.UK performance displays' width='465' height='260' />
      </a>
      <h2>GOV.UK performance displays</h2>
      <ul>
        <li><a href='http://gds-screens-govuk-realtime.herokuapp.com/'>GOV.UK users right now</a></li>
        <li><a href='http://gds-screens-slides.herokuapp.com/'>GOV.UK usage statistics</a></li>
        <li><a href='http://gds-screens-realtime.herokuapp.com/'>Transaction users right now</a></li>
        <li><a href='http://gds-screens-leaderboard.herokuapp.com/'>GOV.UK top content</a></li>
      </ul>
    </div>

    <div class='cols2 secondary-project'>
      <a href='http://fco-traveladvice.herokuapp.com/'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-govuk-travel-advice.jpg'] %>' alt='Screenshot of foreign travel advice tracker' width='465' height='260' />
      </a>
      <a href='http://fco-traveladvice.herokuapp.com/'>
        <h2>Foreign travel advice tracker</h2>
      </a>
      <p>Uses GOV.UK browsing data to show how views of travel advice has changed over the last seven days.</p>
    </div>
  </section>

</div>
