<div id='prototypes-content'>

  <header>
    <h1>Performance prototypes</h1>

    <p>We're prototyping different ways of presenting data from government services.</p>

    <p>
      If you work in government and you want to work with a data scientist,
      <a href='mailto:performance@digital.cabinet-office.gov.uk'>get in touch</a>.
    </p>
  </header>

  <section id='prototypes-warning'>
    <h2>Disclaimer</h2>
    <p>
      These prototypes may break at any time, and may disappear temporarily or permanently.
      They may not be accessible or work in older browsers.
    </p>
  </section>


<section>

   <div class='cols2'>
      <a href='<%= assetPath %>documents/<%= assetDigest['Policy–Major_Projects_Overview.pdf'] %>'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes_mpa.jpg'] %>' alt='Screenshot of Major Projects Authority dashboard prototype' width='465' height='260' />
      </a>
      <div>
        <a href='<%= assetPath %>documents/<%= assetDigest['Policy–Major_Projects_Overview.pdf'] %>'>
          <h2>Major Projects Authority dashboard</h2>
        </a>
        <p>A prototype dashboard measuring the ongoing performance of major projects and programmes across all of government.</p>
      </div>
   </div>

   <div class='cols2'>
      <a href='<%= assetPath %>documents/<%= assetDigest['Policy-Housing.pdf'] %>'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes_housing.jpg'] %>' alt='Screenshot of Housing Policy dashboard prototype' width='465' height='260' />
      </a>
      <h2>Policy dashboards</h2>
      <p>Prototype dashboards measuring the performance of selected government policies.</p>
      <ul>
        <li><a href='<%= assetPath %>documents/<%= assetDigest['Policy-Housing.pdf'] %>'>Housing policies</a></li>
        <li><a href='<%= assetPath %>documents/<%= assetDigest['Policy-Schools.pdf'] %>'>Increasing the number of academies and free schools</a></li>
      </ul>
    </div>

  </section>

  <section>
    <div class='cols2'>
      <a href='/performance/solihull-local-authority'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-solihull-dashboard.jpg'] %>' alt='Screenshot of the Solihull missed waste collections dashboard' width='465' height='260' />
      </a>
      <div>
        <a href='/performance/solihull-local-authority'>
          <h2>Solihull waste collections dashboard</h2>
        </a>
        <p>A prototype dashboard measuring the performance of a local authority's online service.</p>
      </div>
    </div>

   <div class='cols2'>
      <a href='http://lfb-data-explorer.herokuapp.com'>
        <img src='<%= assetPath %>images/<%= assetDigest['LFB2.png'] %>' alt='Screenshot of London Fire Brigade data explorer' width='465' height='260' />
      </a>
      <div>
        <a href='http://lfb-data-explorer.herokuapp.com'>
          <h2>London Fire Brigade data explorer</h2>
        </a>
        <p>Uses open data released by London Fire Brigade to visualise all incidents that occurred during 2012.</p>
      </div>
   </div>

  </section>

  <section>

   <div class='cols2'>
      <a href='http://ukriver-levels.heroku.com'>
        <img src='<%= assetPath %>images/<%= assetDigest['RiverL2.png'] %>' alt='Screenshot of river level visualisation' width='465' height='260' />
      </a>
      <div>
        <a href='http://ukriver-levels.heroku.com'>
          <h2>River level visualisation</h2>
        </a>
        <p>Environment Agency and Met Office data updated regularly to give a snapshot of the current river level situation in England and Wales.</p>
      </div>
   </div>

   <div class='cols2'>
      <a href='http://fco-traveladvice.herokuapp.com/'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-govuk-travel-advice.jpg'] %>' alt='Screenshot of foreign travel advice tracker' width='465' height='260' />
      </a>
      <a href='http://fco-traveladvice.herokuapp.com/'>
        <h2>Foreign travel advice tracker</h2>
      </a>
      <p>Uses GOV.UK browsing data to show how views of travel advice have changed relative to the previous day.</p>
    </div>


  </section>


  <section>
    <div class='cols2'>
      <a href='http://gds-screens-realtime.herokuapp.com/'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-govuk-performance-displays.jpg'] %>' alt='Screenshot of GOV.UK performance displays' width='465' height='260' />
      </a>
      <h2>GOV.UK performance displays</h2>
      <ul>
        <li><a href='http://gds-screens-govuk-realtime.herokuapp.com/'>GOV.UK users right now</a></li>
        <li><a href='http://gds-screens-slides.herokuapp.com/'>GOV.UK usage statistics</a></li>
        <li><a href='http://gds-screens-realtime.herokuapp.com/'>Transaction users right now</a></li>
        <li><a href='http://gds-screens-leaderboard.herokuapp.com/'>GOV.UK top content</a></li>
      </ul>
    </div>


    <div class='cols2'>
      <a href='http://morning-retreat-5772.herokuapp.com/'>
        <img src='<%= assetPath %>images/<%= assetDigest['prototypes-staff-in-government-buildings.jpg'] %>' alt='Screenshot of staff numbers in government buildings visualisation' width='465' height='260' />
      </a>
      <div>
        <a href='http://morning-retreat-5772.herokuapp.com/'>
          <h2>Staff numbers in government buildings</h2>
        </a>
        <p>Uses <a href='http://data.gov.uk/dataset/epims'>data from data.gov.uk</a> to show staff numbers in Government Central Civil Estate properties.</p>
      </div>
    </div>


  </section>



</div>
