<div class="stat">
    <p class="single-stat-headline impact-number">
        {{#hasValue}}<strong>{{{value}}}</strong>{{/hasValue}}
        {{^hasValue}}<strong class="no-data">no data</strong>{{/hasValue}}
    </p>
    {{#period}}<p class="period">{{period}}</p>{{/period}}
</div>

{{#previousPeriod}}
    <div class="delta">
        <div class="single-stat-delta">
            <span class="change impact-number {{sgn}}">
              {{#hasValue}}{{change}}{{/hasValue}}
              {{^hasValue}}{{{previousPeriod.value}}}{{/hasValue}}
            </span>
            {{previousPeriod.period}}
        </div>
    </div>
{{/previousPeriod}}
