<h3>{{ title }}</h3>

<div class="impact">
<p class="impact-number">
{{# hasValue }}
<strong>{{ current }}</strong>
{{/ hasValue }}
{{^ hasValue }}
<span class="no-data">(no data)</span>
{{/ hasValue }}
{{ date }}
</p>
</div>
	
<div class="delta">
{{# percentChange }}
<p class="impact-number change {{ trend }}">{{ percentChange }}</p>
<p class="stat-description previous-date">{{ previousDate }}</p>
{{/ percentChange }}
</div>

<div class="sparkline">	
<div class="sparkline-graph"></div>
{{# timePeriod }}
<p class="stat-description">Last {{ timePeriod }} {{ timePeriodValue }}</p>
{{/ timePeriod }}
</div>
