#homepage {

  header {
    @extend %grid-row;
    @extend %outdent-to-full-width;
    color: white;
    background-color: $performance-brand;
    border-top: 0;
    h1, p.lead { margin-bottom: $gutter-half; }
  }

}
