#prototypes-content {
  @extend %contain-floats;

  margin-top: 2em;

  h1, h2, h3, h4, p, section {
    margin: 0;
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 20px;
  }

  section {
    border: none;
    margin-bottom: 30px;

    img {
      max-width: 100%;
      height: auto;
    }

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

  #prototypes-warning {
    @include media(tablet) {
      width: 32%;
      float: right;
    }

    h2 {
      @include bold-24;
    }

    p {
      @include core-16;
    }
  }

  header {
    padding-bottom: 0;
    border: none;

    @include media(tablet) {
      width: 64%;
    }

    p {
      @include core-24;
    }
  }
}
