.homepage {
  overflow-x: hidden;
}
.homepage #global-header-bar {
  display: none;
}
.homepage-showcase {
  hr {
    border:none;
    height:1px;
    background-color: $grey-2;
  }
}
.homepage-showcase-item {
  @include core-19;
  margin-bottom: 5px;
  @include media(tablet) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.homepage-showcase-figure {
  @include bold-24;
  display: inline-block;
}

.homepage-tx {
  width: 100%;
  max-width: 602px;
}
