.servicespage {
  .services {
    margin: 2em 0 1em 0;
  }

  .service-kpis .number_of_transactions {
    .impact-number .no-data {
      display: inline-block;
      @include core-48()
    }

    .summary-figure-unit {
      @include core-16();
      font-weight: bold;
      text-transform: lowercase;
    }
  }

  @include media(desktop) {
    thead [data-key="number_of_transactions"] {
      position: relative;
      a {
        position: absolute;
        width: 15em;
        left: -9em;
      }
    }
  }

  #content {
    section.filtered-list {
      padding-top: 0;
    }
  }
}
