#global-breadcrumb {

  background-color: #fff;
  max-width: 1020px;
  margin:0 auto;
  z-index: 50;

  @include media-down(mobile) {
    padding: 0 1em 0.75em;
  }

  @include ie(6) {
    width: 960px;
  }

  ol {
    border-top: 10px solid $primary-colour;
    max-width: 960px;
    margin: 0 30px;
    padding: 0.75em 0;

    @include ie-lte(7) {
      padding: 0.75em 16px 0;
      width: 900px;
    }

    @include media-down(mobile) {
      margin: 0;
    }

    li {
      @include core-16;
      background-image: image-url("separator.png");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      float: left;
      list-style: none;
      margin-left: 0;
      margin-right: 0.5em;
      padding-right: 1em;

      @include device-pixel-ratio() {
        background-image: image-url("separator-2x.png");
        background-size: 6px 11px;
      }

      a {
        color: $text-colour;
      }

      strong {
        font-weight: normal;
      }

      &:last-child {
        background-image: none;
        margin-right: 0
      }
    }
  }
}
