@mixin button-reset {
  @include appearance(none);
  padding: 0;
  margin: 0;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
.btn-remove {
  @include button-reset;
  @include core-16;
  color: $grey-1;
  display: inline-block;
  height: 1em;
  width: 0.5em;
}

.btn-inline {
  margin-left: 3px;
  margin-right: 7px;
  vertical-align: middle;
}
