@include media(desktop) {
  .cols2,
  #content section.cols2,
  #content article.cols2 {
    width: 465px / $site-width * 100%;
    float: left;
    clear: none;
    margin-right: 0;
    margin-left: 30px / $site-width * 100%;
  }

  #content section.module.cols2 {
    width: 480px / $site-width * 100%;
    margin-left: 0;
  }

  .cols2:first-of-type,
  #content section.cols2:first-of-type,
  #content article.cols2:first-of-type {
    margin-left: 0;
  }

  $third_width: 300px / $site-width * 100%;
  $third_margin: 30px / $site-width * 100%;

  #content section.cols3,
  #content article.cols3,
  .cols3 {
    width: $third_width;
    float: left;
    clear: none;
    margin-right: 0;
    margin-left: $third_margin;

    &.first {
      margin-left: 0;
    }
  }

  .cols3:first-of-type,
  #content section.cols3:first-of-type,
  #content article.cols3:first-of-type {
    margin-left: 0;
  }

  .cols3.add3 {
    width: $third_width * 2 + $third_margin;
  }
}
