#content {
  footer {
    clear: both;
    overflow: hidden;
    margin: 1em 0 4em 0;
    padding-top: 1.5em;
    width: 100%;
    border-top: 1px solid $grey-2;

    .description {
      @include bold-24();
      margin-top: 0;
      margin-bottom: 40px;

      @include media(desktop) {
        width: (600px / $site-width) * 100%;
      }
    }

    .footer-text {
      @include bold-24();
      margin-top: 0;
      margin-bottom: 20px;
    }

    .footer-left {
      padding-right: 30px;
    }

    .footer-right {
      @include media(desktop) {
        width: (465px / $site-width) * 100%;
      }
    }

    .related-pages {
      margin-bottom: 30px;
    }

    h3 {
      @include core-16();
      margin-bottom: 5px;
    }

    h4 {
      @include bold-16();
    }

  }
}
