#content {
  footer {
    clear: both;
    overflow: hidden;
    margin: 1em 0 4em 0;
    padding-top: 2em;
    width: 100%;
    border-top: 1px solid $grey-2;

    .footer-text, .description {
      @include bold-24($tabular-numbers: true);
      margin-top: 0;
      margin-bottom: 5px;
    }

    .description {
      margin-bottom: 20px;
    }

    .related-pages {
      margin-bottom: 30px;
    }

    h3 {
      @include core-16($tabular-numbers: true);
    }

    h4 {
      @include bold-16($tabular-numbers: true);
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

  }
}
