#content {
  #filter-wrapper {
    padding-top: 1.5em;
    border-top: 5px solid $govuk-blue;

    label {
      display: block;

      &.primary-filter {
        @include core-36($tabular-numbers: true);
        display: inline;
        margin-right:.5em;
      }
    }

    input {
      font-size: 1em;
      margin: 0;
      width: 16em;
      padding: .2em .5em;
      position:relative;
      top: 0;

      @include media(tablet) {
        top: -0.3em;
      }
    }

    #faceted-search {
      margin: 1em 0 0 0;

      @include media(desktop) {
        margin-top: 3em;
        width: 24%;
      }

      select, input {
        margin-bottom: 1em;
        max-width: 100%;
      }

      select {
        @include core-14;
        background: $white;
        line-height: 1.8;

        @include media(desktop) {
          @include appearance(none);
          @include box-shadow(1px 1px 1px $white);
          @include border-radius(4px);
          background: $grey-3 file-url('images/dropdown-arrow-small.png') no-repeat right center;
          border: 1px solid $border-colour;
          padding: 0.1em 0.4em;
        }
      }
    }

    #filter-submit-button {
      @include button;
      margin-top: 1em;

      body.js-enabled & {
        display: none;
      }
    }
  }

  section.filtered-list {
    padding: 0;
    margin-top: 1.5em;
    border-top: none;

    @include media(desktop) {
      float: right;
      margin-top: -10.5em;
      width: 70%;

      body.js-enabled & {
        margin-top: -7em;
      }
    }

    header {
      margin: 0 0 1em 0;
      border-bottom: 1px solid $grey-3;

      h2 {
        @include core-19;

        span.count {
          @include bold-48($tabular-numbers: true);
          display: block;
          margin: 0 0.2em 0 0;
        }

        span.title {
          .filter-remove {
            display: none;
            position: relative;
            top: 1px;
            left: 3px;
            margin-right: 4px;

            body.js-enabled & {
              display: inline;
            }

            &:before {
              content: '\00D7'
            }

            color: $grey-1;
            cursor: pointer;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }

    dl {
      margin: 0;

      dt {
        @include core-19($tabular-numbers: true);
      }

      dd {
        margin:0 0 1em 0;

        ol {
          padding:0;
          margin:0;
          list-style:none;

          li {
            border-bottom: 1px solid $grey-3;
            padding:.3em 0;

            .department {
              color: $grey-1;

              @include media(tablet) {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}
