#content {
  #filter-wrapper {

    label {
      display: block;
      font-weight: bold;
    }

    input {
      margin: 0;
      width: 100%;
      padding: .4em .5em;
      position:relative;
      top: 0;
    }
    ::-webkit-input-placeholder {
      color: $grey-1;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $grey-1;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $grey-1;
    }

    :-ms-input-placeholder {
      color: $grey-1;
    }

    #faceted-search {

      input {
        @include core-16;
      }

      select {
        @include core-16;
        background: $white;
        line-height: 1.8;
        width: 100%;

        @include media(desktop) {
          @include appearance(none);
          @include box-shadow(1px 1px 1px $white);
          @include border-radius(4px);
          background: $grey-3 file-url('images/dropdown-arrow-small.png') no-repeat right center;
          border: 1px solid $border-colour;
          padding: 0.2em 25px 0.2em 0.4em;
        }
      }
      select::-ms-expand {
        display: none;
      }
    }

    #filter-submit-button {
      @include button;
      margin-top: 1em;
      width: auto;
      float: right;

      body.js-enabled & {
        display: none;
      }
    }
  }

  section.filtered-list {
    padding: 1em 0 0 0;
    margin-top: 0;
    margin-bottom: 3em;
    border-top: 2px solid $grey-3;

    @include media(desktop) {
      width: 100%;
    }

    header {
      margin: 0 0 1em 0;
      border-bottom: 1px solid $grey-3;

      h2 {
        @include core-19;

        span.count {
          @include bold-48($tabular-numbers: true);
          display: block;
          margin: 0 0.2em 0 0;
        }

        span.title {
          .filter-remove {
            display: none;
            position: relative;
            top: 1px;
            left: 3px;
            margin-right: 4px;

            body.js-enabled & {
              display: inline;
            }

            &:before {
              content: '\00D7'
            }

            color: $grey-1;
            cursor: pointer;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }

  }
}
