// Copied from static project

$grey-6: #a1acb2;

#footer {
  .footer-categories {
    @extend %contain-floats;

    @include media(tablet){
      padding: 0 0 30px;
    }

    .footer-explore,
    .footer-inside-government {
      @include media(tablet){
        float: left;
        width: 66.66%;
        padding-bottom: 60px;
      }

      h2 {
        margin: 0 15px;

        @include media(tablet) {
          padding: 0 0 20px;
          border-bottom: 1px solid $grey-6;
        }
      }
    }

    hr {
      clear: both;
      margin: 0 15px 30px;
      border: 1px solid $grey-6;
      border-width: 1px 0 0 0;

      @include media(tablet){
        margin-bottom: 0;
      }
    }

    ul {
      @include core-16;
      list-style: none;

      padding: 10px 0 0;
      margin: 0 15px 30px;

      @include media(tablet){
        padding: 20px 0 0;
        margin: 0 15px;
      }
      @include ie-lte(7){
        padding: 0; // for some reason IE6-7 gives the ul padding to each of the floated children
      }

      li {
        display: block;
        margin-bottom: 5px;

        @include media(tablet){
          float: left;
          margin: 15px 0 0 0;
          width: 50%;
        }
      }
    }

    .footer-inside-government {
      @include media(tablet){
        float: left;
        width: 33.33%;
      }

      ul {
        li {
          width: 100%;
        }
      }
    }
  }
}
