// Copied from static project

$grey-6: #a1acb2;

#footer {
  .footer-categories {
    font-size: 0;
    float: left;

    border: 1px solid $grey-6;
    border-width: 0 0 1px 0;

    margin-bottom: 30px;
    padding: 0 0 60px 0;

    width: 100%;

    @include media-down(mobile) {
      padding: 20px 0;
    }

    .footer-explore {
      float: left;

      margin-right: 7%;
      width: 62%;

      @include media-down(mobile) {
        display: block;

        margin: 0 0 30px 0;

        width: 100%;
      }
    }

    ul {
      @include core-16();
      list-style: none;

      border: 1px solid $grey-6;
      border-width: 1px 0 0 0;

      margin: 20px 0 0 0;

      padding: 20px 0 0 0;

      min-height: 210px;

      vertical-align: top;

      @include media-down(mobile) {
        border-width: 0;
        min-height: 0;
      }

      li {
        display: block;

        float: left;
        clear: left;

        margin: 0 0 15px 0;

        width: 45.5%;

        &:nth-child(even) {
          float: right;
          clear: none;
        }

        @include ie-lte(8) {
          display: inline;
          min-height: 1.5em;
          clear: none;
        }

        @include ie(6) {
          height: 1.5em;
        }

        @include media-down(mobile) {
          float: none;
          width: 100%;
          margin-left: 0;

          &:nth-child(even) {
            float: none;
          }

          &:first-child,
          &:nth-child(2) {
            border-top: none;
            padding-top: 0;
          }
        }
      }

      @include ie(6) {
        border-top: none;
        zoom: 1;
      }
    }

    .footer-inside-government {
      float: left;
      width: 31%;

      ul {
        margin-right: 0;

        @include media-down(mobile) {
          margin: 20px 0 0 0;

          width: 100%;
        }

        li {
          margin-right: 0;
          width: 100%;

          &:nth-child(even) {
            float: none;
            clear: none;
          }
        }
      }

      @include media-down(mobile) {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        min-height: 0;
      }
    }
  }
}
