// Legend colours for the graph
span.group0 { color: $data-colour-1; }
span.group1 { color: $data-colour-2; }
span.group2 { color: $data-colour-3; }
span.group3 { color: $data-colour-4; }
span.group4 { color: $data-colour-5; }
span.group5 { color: $data-colour-6; }
span.group6 { color: $data-colour-7; }

.table-toggle {
  a {
    @include core-14;
  }

  table {
    padding-bottom: 1em;

    .js-enabled & {
      display: none;
    }
  }
}

figure.graph {
  margin:0 auto;
  position:relative;

  svg {
    max-width: 954px;
    max-height: 400px;
  }

  h2 {
    max-width: 75%;
  }

  text {
    @include core-16($tabular-numbers: true);

    @media (max-width: 320px) {
      font-size: 9px;
    }
  }

  .graph-wrapper {
    position:relative;

    .inner {
      padding:0;
      position:absolute;
      top: 20px;
      bottom: 45px;
      left: 70px;
      right: 40px;

      @media (max-width: 640px) {
        top: 20px;
        bottom: 40px;
        left: 40px;
        right: 25px;
      }

      @media (max-width: 320px) {
        bottom: 30px;
      }
    }
  }

  &.graph-with-labels {
    h2 {
      margin-right: 200px;
    }

    ul.module-actions {
      margin-top:-32px;
      margin-bottom: 44px;
    }

    .inner {
      right: 200px;
    }
  }

  .line { stroke: $data-colour-1; z-index: 1; }
  .line.group0 { stroke: $data-colour-1; }
  .line.group1 { stroke: $data-colour-2; }
  .line.group2 { stroke: $data-colour-3; }
  .line.group3 { stroke: $data-colour-4; }
  .line.group4 { stroke: $data-colour-5; }
  .line.group5 { stroke: $data-colour-6; }
  .line.group6 { stroke: $data-colour-7; }

  .compare-group0 { stroke: $data-colour-1; }
  .compare-group1 { stroke: $data-colour-2; }

  .line.timeshift { stroke-dasharray: 5, 10; }

  .not-selected {
    &.line.group0 { stroke: mix($data-colour-1, $white, 50%); }
    &.line.group1 { stroke: mix($data-colour-2, $white, 50%); }
    &.line.group2 { stroke: mix($data-colour-3, $white, 50%); }
    &.line.group3 { stroke: mix($data-colour-4, $white, 50%); }
    &.line.group4 { stroke: mix($data-colour-5, $white, 50%); }
    &.line.group5 { stroke: mix($data-colour-6, $white, 50%); }
    &.line.group6 { stroke: mix($data-colour-7, $white, 50%); }

    &.compare-group0 { stroke: mix($data-colour-1, $white, 50%); }
    &.compare-group1 { stroke: mix($data-colour-2, $white, 50%); }
  }

  .stack { fill: mix($data-colour-1, $white, 25%); }
  .stack.group0 { fill: mix($data-colour-1, $white, 25%); }
  .stack.group1 { fill: mix($data-colour-2, $white, 25%); }
  .stack.group2 { fill: mix($data-colour-3, $white, 25%); }
  .stack.group3 { fill: mix($data-colour-4, $white, 25%); }
  .stack.group4 { fill: mix($data-colour-5, $white, 25%); }
  .stack.group5 { fill: mix($data-colour-6, $white, 25%); }
  .stack.group6 { fill: mix($data-colour-7, $white, 25%); }

  .selected {
    &.stack { fill: mix($data-colour-1, $white, 50%);
      &.group0 { fill: mix($data-colour-1, $white, 50%); }
      &.group1 { fill: mix($data-colour-2, $white, 50%); }
      &.group2 { fill: mix($data-colour-3, $white, 50%); }
      &.group3 { fill: mix($data-colour-4, $white, 50%); }
      &.group4 { fill: mix($data-colour-5, $white, 50%); }
      &.group5 { fill: mix($data-colour-6, $white, 50%); }
      &.group6 { fill: mix($data-colour-7, $white, 50%); }
    }
  }

  .not-selected {
    &.stack { fill: mix($data-colour-1, $white, 10%);
      &.group0 { fill: mix($data-colour-1, $white, 10%); }
      &.group1 { fill: mix($data-colour-2, $white, 10%); }
      &.group2 { fill: mix($data-colour-3, $white, 10%); }
      &.group3 { fill: mix($data-colour-4, $white, 10%); }
      &.group4 { fill: mix($data-colour-5, $white, 10%); }
      &.group5 { fill: mix($data-colour-6, $white, 10%); }
      &.group6 { fill: mix($data-colour-7, $white, 10%); }
    }
  }

  .text { fill: $data-colour-1; }
  .text0 { fill: $data-colour-1; }
  .text1 { fill: $data-colour-2; }
  .text2 { fill: $data-colour-3; }
  .text3 { fill: $data-colour-4; }
  .text4 { fill: $data-colour-5; }
  .text5 { fill: $data-colour-6; }
  .text6 { fill: $data-colour-7; }

  .x-axis path,
  .y-axis path {
    display: none;
  }

  .terminator {
    stroke-width: 3px;
  }

  .line {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;

    &.selected {
      stroke-width: 4px;
    }
    &.selected-following-sibling{
      stroke-width: 4px;
    }
  }

  .selectedIndicator {
    fill: $white;
    vector-effect: non-scaling-stroke;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .cursorLine {
    stroke: $black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    &.selected {
      stroke-width: 3px;
    }
  }

  .bar {
    line {
      stroke-width: 2px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      shape-rendering: crispEdges;
      vector-effect: non-scaling-stroke;
    }

    rect {
      shape-rendering: crispEdges;
    }

    text {
      @include core-16() ;
      text-anchor: middle;

      @media (max-width: 640px) {
        font-size: 9px;
      }
    }

    rect {
      stroke-width: 2px;
      &.stack { stroke: mix($data-colour-1, $white, 25%); }
      &.stack0 { stroke: mix($data-colour-1, $white, 25%); }
      &.stack1 { stroke: mix($data-colour-2, $white, 25%); }
      &.stack2 { stroke: mix($data-colour-3, $white, 25%); }
      &.stack3 { stroke: mix($data-colour-4, $white, 25%); }
      &.stack4 { stroke: mix($data-colour-5, $white, 25%); }
      &.stack5 { stroke: mix($data-colour-6, $white, 25%); }
      &.stack6 { stroke: mix($data-colour-7, $white, 25%); }
    }

    .selected {
      rect {
        &.stack { stroke: $data-colour-1; }
        &.stack0 { stroke: $data-colour-1; }
        &.stack1 { stroke: $data-colour-2; }
        &.stack2 { stroke: $data-colour-3; }
        &.stack3 { stroke: $data-colour-4; }
        &.stack4 { stroke: $data-colour-5; }
        &.stack5 { stroke: $data-colour-6; }
        &.stack6 { stroke: $data-colour-7; }
      }
    }
    .selected {

      text {
        font-weight: bold;
      }

      line {
        stroke-width:4px;
      }
    }
  }

  .tick line {
    vector-effect: non-scaling-stroke;
  }

  .x-axis, .y-axis {
    line {
      fill: none;
      stroke: $graph-axis-grey;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }

    .tick text {
      @include core-14();

      @media (max-width: 640px) {
        font-size: 12px;
      }
    }
  }

  .hover {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: $white;
  }

  .legend {
    position: absolute;
    @include core-16();
    top: -24px;
    right: 0;
    width: 200px;

    .percentage,
    .no-data {
      color: $grey-1;
      font-size: 14px;
    }

    .summary {
      margin: 0 0 0 20px;

      .title {
        display: block;
      }

      .no-data {
        line-height: 1.9;
        font-size: 14px;
      }

      .value {
        font-size: 21px;
        font-weight: bold;
      }

      .timeperiod {
        display: block;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 5px;
      }
      .total {
        strong {
          display: block;
          font-size: 21px;
        }
      }

    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      @include core-16($tabular-numbers: true);

      &.squares {
        li {
          margin-left: 18px;

          &.label0:before { background-color: mix($data-colour-1, $white, 25%); }
          &.label1:before { background-color: mix($data-colour-2, $white, 25%); }
          &.label2:before { background-color: mix($data-colour-3, $white, 25%); }
          &.label3:before { background-color: mix($data-colour-4, $white, 25%); }
          &.label4:before { background-color: mix($data-colour-5, $white, 25%); }
          &.label5:before { background-color: mix($data-colour-6, $white, 25%); }
          &.label6:before { background-color: mix($data-colour-7, $white, 25%); }

          &.label0:before { border-color: $data-colour-1; }
          &.label1:before { border-color: $data-colour-2; }
          &.label2:before { border-color: $data-colour-3; }
          &.label3:before { border-color: $data-colour-4; }
          &.label4:before { border-color: $data-colour-5; }
          &.label5:before { border-color: $data-colour-6; }
          &.label6:before { border-color: $data-colour-7; }

          &.label0.selected:before { background-color: mix($data-colour-1, $white, 50%); }
          &.label1.selected:before { background-color: mix($data-colour-2, $white, 50%); }
          &.label2.selected:before { background-color: mix($data-colour-3, $white, 50%); }
          &.label3.selected:before { background-color: mix($data-colour-4, $white, 50%); }
          &.label4.selected:before { background-color: mix($data-colour-5, $white, 50%); }
          &.label5.selected:before { background-color: mix($data-colour-6, $white, 50%); }
          &.label6.selected:before { background-color: mix($data-colour-7, $white, 50%); }

          &.label0.not-selected:before { background-color: mix($data-colour-1, $white, 10%) }
          &.label1.not-selected:before { background-color: mix($data-colour-2, $white, 10%) }
          &.label2.not-selected:before { background-color: mix($data-colour-3, $white, 10%) }
          &.label3.not-selected:before { background-color: mix($data-colour-4, $white, 10%) }
          &.label4.not-selected:before { background-color: mix($data-colour-5, $white, 10%) }
          &.label5.not-selected:before { background-color: mix($data-colour-6, $white, 10%) }
          &.label6.not-selected:before { background-color: mix($data-colour-7, $white, 10%) }

          &.label0.not-selected:before { border-color: mix($data-colour-1, $white, 50%) }
          &.label1.not-selected:before { border-color: mix($data-colour-2, $white, 50%) }
          &.label2.not-selected:before { border-color: mix($data-colour-3, $white, 50%) }
          &.label3.not-selected:before { border-color: mix($data-colour-4, $white, 50%) }
          &.label4.not-selected:before { border-color: mix($data-colour-5, $white, 50%) }
          &.label5.not-selected:before { border-color: mix($data-colour-6, $white, 50%) }
          &.label6.not-selected:before { border-color: mix($data-colour-7, $white, 50%) }

          &.compare-group0:before { background-color: mix($data-colour-1, $white, 25%); }
          &.compare-group1:before { background-color: mix($data-colour-2, $white, 25%); }
          &.compare-group0:before { border-color: $data-colour-1; }
          &.compare-group1:before { border-color: $data-colour-2; }

          &.compare-group0.selected:before { background-color: mix($data-colour-1, $white, 50%); }
          &.compare-group1.selected:before { background-color: mix($data-colour-2, $white, 50%); }

          &.compare-group0.not-selected:before { background-color: mix($data-colour-1, $white, 10%) }
          &.compare-group1.not-selected:before { background-color: mix($data-colour-2, $white, 10%) }

          &.compare-group0.not-selected:before { border-color: mix($data-colour-1, $white, 50%) }
          &.compare-group1.not-selected:before { border-color: mix($data-colour-2, $white, 50%) }

          &.timeshift:before { border-style: dashed; }

          &:before {
            border: 2px solid $white;
            float:left;
            display:block;
            content:'';
            width:10px;
            height:10px;
            margin-left:-18px;
            margin-top:1px;
          }
        }
      }

      &.has-links li {
        z-index:100;
      }

      li {
        position: absolute;
        margin-top: 16px;
        right: 0;

        &.selected {
          font-weight: bold;
        }

        &.not-selected {
          color: mix($black, $white, 25%);
          .percentage{
            color: mix($black, $white, 25%);
          }
        }

        .label-title {
          display: block;
        }
      }

    }
  }

  .labels {
    line {
      fill: none;
      stroke: $graph-axis-grey;
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;

      &.selected {
        stroke-width: 2px;
      }

      &.not-selected {
        stroke: mix($graph-axis-grey, $white, 50%);
      }

      &.crisp {
        shape-rendering: crispEdges;
      }

      @media (max-width: 640px) {
        display: none;
      }

    }
  }

  .callout {
    position: absolute;
    left:0;
    top:0;
    background-color: $grey-4;
    width:200px;
    @include box-shadow(0px 0px 3px 1px rgba(0, 0, 0, 0.35));
    @include core-16();
    h3 {
      font-weight:700;
      margin:0;
      font-size:1em;
      padding:.4em .5em 0em;
    }
    p {
      margin:0;
      padding:0 .5em;
      &:first-child {
        padding-top: 0.2em;
      }
      &:last-child {
        padding-bottom: 0.2em;
      }
    }
    dl {
      padding:.2em .5em;
      margin:0;
      dt {
        float:left;
        max-width:130px;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
      }
      dd {
        margin:0;
        float:right;
      }
      &:after {
        clear:both;
        display:block;
        content:'.';
        height:0;
        overflow:hidden;
      }
    }
  }

}

@media (max-width: 640px) {

  figure.graph {

    h2 {
      max-width: 92%;
    }

    &.graph-with-labels {
      h2 {
        margin-right: 0;
      }

      .inner {
        right: 25px;
      }

      .graph {
        top: 10px;

        svg {
          clear: both;
        }
      }
    }

    .legend {
      position: static;
      width: 100%;
      overflow:hidden;
      padding-top: 10px;

      ol li .label-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
      }

      .summary {
        border: none;
        float: left;
        margin: 0 18px 0 0;
        padding: 0 18px 0 0;
        width: 100%;
        margin-top: 0 !important;

        .percentage {
          display: block;
        }

        .timeperiod {
          margin-top: 4px;
        }

        .total {
          float: left;
          width: 33%;
        }
      }

      ol {
        float: left;
        width: 100%;
        &.labels-for-total {
          width: 66%;
        }
        li {
          cursor: default;
          float: left;
          margin-bottom: 12px;
          position: static;
          margin-top: 0;
          width: 28%;
        }
        &.labels-for-total li {
          width: 38%;
        }
      }
    }

    .x-axis .tick:nth-child(even) text,
    .y-axis .tick:nth-child(even) text {
      display:none;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;

      &.selected {
        stroke-width: 3px;
      }
    }

    .callout {
      @include core-16();
      margin-top:.5em;
      position:static;
      max-width:240px;
      margin:.5em auto;
      .arrow {
        display:none;
      }
    }
  }
}

@media (max-width: 900px) {

  figure.graph {

    .x-axis .tick:nth-child(even) text,
    .y-axis .tick:nth-child(even) text {
      display:none;
    }

  }
}
