.grouped_timeseries {
  figure.graph {
    clear: both;
    .legend ol {
      width:100%;
      padding-left:0;
    }
  }
  #content & .more-info-link {
    margin-bottom: 14px;
  }
  svg { 
    min-height: 150px;
  }
}
