.grouped_timeseries {
  figure.graph {
    clear: both;
  }
  #content & .more-info-link {
    margin-bottom: 14px;
  }
  svg {
    min-height: 150px;
    position: relative;
  }
  .inner {
    border-bottom: 2px solid $grey-2;
  }
}
