#content {
  header {
    margin-bottom: 1.5em;
    width: 100%;

    display: inline-block;

    main h1 { margin-bottom: 10px; }

    @include media(desktop) {
      main {
        width: 62.5%; // 600px
        float: left;
      }
      aside {
        width: 31.25%; //300px
        float: right;
      }
    }

    h1 {
      @include bold-48;
      width: 100%;
      display: inline-block;

      span.strapline {
        @include core-27;
        display: block;
        margin-bottom: 5px;

        color: $grey-1;
      }
    }

    p.tagline {
      @include core-16;
      display: block;
      margin: 1em 0 -1em 0;
      padding: 0.5em 0 1em 0;
    }

    aside {
      h2 {
        @include bold-19;
      }
      p {
        @include core-16;
      }
    }

  }

  #unpublished-warning {
    border-top: none;
    border-left: 10px solid $mellow-red;
    color: $mellow-red;
    min-height: 5em;
    padding: 0 0 0 1em;

    h2 {
      @include bold-36;
    }

    p {
      @include bold-24;

      @include media(desktop) {
        margin-bottom: 0;
        width: 66%;
      }
    }
  }
}

.survey{
  @include core-16();
  padding: 15px 30px 0;

  @include media(mobile) {
    padding: 15px 15px 0;
    margin-bottom: 0
  }

}
