#content header {
  margin-bottom: 1.5em;
  padding-bottom: 2em;
  width: 100%;

  border-bottom: 5px solid $primary-colour;
  display: inline-block;

  h1 {
    @include bold-48($tabular-numbers: true);
    width: 100%;
    display: inline-block;

    @include media(desktop) {
      width: 600px / 960px * 100%; //62.5%
    }

    span.strapline {
      @include core-27($tabular-numbers: true);
      display: block;
      margin-bottom: 5px;

      color: $secondary-text-colour;
    }
  }

  p.tagline {
    @include core-19;
    display: block;
    margin: 1em 0;
    padding: 0.5em 0 1em 0;

    @include media(desktop) {
      width: 600px / 960px * 100%; //62.5%
      margin-right: 30px / 960px * 100%; //3.125%;
      float: left;
    }
  }

  .related-pages {
    position: relative;
    float: none;
    margin-left: 0;
    width: 90%;

    ul.items {
      margin: 0;
      padding-left: 0px;

      li {
        display: block;
        overflow: hidden;
        margin: 7px 0;

        h3 {
          @include core-16($tabular-numbers: true);
          line-height: 1;
          a[rel="external"] {
            @include external-link-19;
          }
        }

        .metadata {
          @include core-14($tabular-numbers: true);
        }
      }
    }

    @include media(desktop) {
      float: right;
      margin-right: 30px / 960px * 100%; //3.125%;
      width: 300px / 960px * 100%; // 31.25%
    }
  }
}
