#content {
  header {
    margin-bottom: 1.5em;
    padding-bottom: 2em;
    width: 100%;

    border-bottom: 5px solid $primary-colour;
    display: inline-block;

    h1 {
      @include bold-48($tabular-numbers: true);
      width: 100%;
      display: inline-block;

      @include media(desktop) {
        width: 75%;
      }

      span.strapline {
        @include core-27($tabular-numbers: true);
        display: block;
        margin-bottom: 5px;

        color: $grey-1;
      }
    }

    p.tagline {
      @include core-19;
      display: block;
      margin: 1em 0 -1em 0;
      padding: 0.5em 0 1em 0;

      @include media(desktop) {
        width: 600px / 960px * 100%; //62.5%
        margin-right: 30px;
        float: left;
      }
    }
  }
}
