#content {
  header {
    h1 {
      @include bold-48;

      span.tagline {
        display: block;
        margin: 1em 0 -1em 0;
        padding: 0.6em 0 0 0;

        @include core-16;
      }

      span.strapline {
        display: block;
        margin-bottom: 5px;

        @include core-27;
        color: $grey-1;
      }
    }
  }
}
