#content {
  header {
    margin-bottom: 1.5em;
    width: 100%;

    display: inline-block;

    @include media(desktop) {
      main {
        width: 62.5%; // 600px
        float: left;
      }
      aside {
        width: 31.25%; //300px
        float: right;
      }
    }

    h1 {
      @include bold-48;
      width: 100%;
      display: inline-block;

      span.strapline {
        @include core-27;
        display: block;
        margin-bottom: 5px;

        color: $grey-1;
      }
    }

    p.tagline {
      @include core-16;
      display: block;
      margin: 1em 0 -1em 0;
      padding: 0.5em 0 1em 0;
    }

    aside {
      h2 {
        @include bold-19;
      }
    }

  }
}
