#content {
  header {
    margin-bottom: 1.5em;
    padding-bottom: 2em;
    width: 100%;

    border-bottom: 5px solid $primary-colour;
    display: inline-block;

    h1 {
      @include bold-48($tabular-numbers: true);
      width: 100%;
      display: inline-block;

      span.strapline {
        @include core-27($tabular-numbers: true);
        display: block;
        margin-bottom: 5px;

        color: $grey-1;
      }
    }

    p.tagline {
      @include core-16;
      display: block;
      margin: 1em 0 -1em 0;
      padding: 0.5em 0 1em 0;

    }

    .with-related-pages {
      padding-top: 0;
      float: left;
      width: 600px / 960px * 100%; // 68.75%

      @include media(mobile) {
        float: none;
        width: 90%;
      }
    }

  }
}
