.icon-top-services {
  height: 45px;
  margin-top: $vertical-unit;
  @include media(tablet) {
    height: 90px;
    margin-top: 0;
  }
  > img {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;

    @include scale(0.5, 0.5);
    @include media(tablet) {
      @include scale(1, 1);
    }
  }
  .lte-ie8 & {
    display: none;
  }
}
