/**
Didn't use core font generators here as needed control over line heights at desktop not mobile
breakpoint, to keep base lines of large number and text in line
*/
.impact-link {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.1;
  text-decoration: none;
  display: block;
  white-space: nowrap;

  @include media(desktop) {
    font-size: 24px;
  }

  .impact-link-figure {
    font-size: 40px;
    display: inline-block;
    vertical-align: text-bottom;

    @include media(desktop) {
      font-size: 60px;
      line-height: 0.9;
    }
  }

  .impact-link-label {
    display: inline-block;
    //padding-left: 0.5em;
    white-space: normal;
    //width: 60%;
  }

}

.separate-impact-links {
  margin-top:$gutter * 0.5;
  padding-top:$gutter * 0.5;
}
