#content section.kpi {

  min-height:160px;

  .impact-number strong {
    @include bold-48();
  }

  .period {
    margin-top: 5px;
  }

  .visualisation {

    overflow: hidden;
    position: relative;

    .stat {
      strong {
        margin-bottom: 3px;
        display: inline-block;
        padding-right: 10px;
      }
      .no-data {
        color: $grey-2;
        font-weight: normal;
      }
    }

    .delta {
      .change {
        @include core-24();
      }
    }

  }

  @media(max-width: 850px) {

    .delta {
      left: 9em;
    }

    .stat strong {
      margin-bottom: 8px;
    }

    .delta {
        @include core-16();
    }

  }

  @media(max-width: 640px) {

    .delta {
      left: 8em;
      bottom: 2px;
    }

    .stat strong {
      margin-bottom: 5px;
    }

    &.cols3 {
      .stat strong,
      .stat strong.no-data {
        font-size: 48px;
      }
    }
  }
}

@media(max-width: 640px) {
  #content section.kpi.cols3 .stat strong {
    font-size: 48px;
  }
}
