#wrapper {
  border-bottom: 10px solid $primary-colour;
}

#wrapper * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
  // Opera requires display:block for max-width to work...
  display: block;
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 0 1em 0;

  background-color: $white;

  section {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-top: 0.4em;

    border-top: 1px solid $grey-2;

    &:first-of-type {
      border-top: 0;
      margin-top: 0;
    }

    &.half-width {
      width:48.5%;
      margin-left:3%;
      clear:none;
      &.row-start {
        margin-left:0%;
      }

      .lte-ie8 & {
        margin-left: 0%;
        width: 100%;
      }
    }
  }

  @media (max-width: 640px) {

    padding: 0;

    section {
      &.half-width {
        width: 100%;

        & ~ .half-width {
          margin-left:0;
        }
      }
    }
  }
}

.performance-hidden {
  display:none;
}

.performance-platform-outer {
  margin: 0 30px;

  padding: 2em 0 0;

  @media (max-width: 640px) {
    margin-left: 15px;
    margin-right: 15px;
    padding: 1em 0;
  }
}
