
#wrapper {
  border-bottom: 10px solid $govuk-blue;
}

#wrapper * {
  @include box-sizing(border-box);
}

#content,
.content-centered {
  @include box-sizing(border-box);
  display: block;
  margin: 0 auto;
  max-width: 1020px;
  padding: 15px;
  // Opera requires display:block for max-width to work...
  @include media(tablet) {
    padding: 0 30px;
  }
}

#content {

  background-color: $white;

  section {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-top: 1em;

    border-top: 1px solid $grey-2;

    .visualisation {
      width: 100%;
    }
  }
}

.performance-hidden {
  display:none;
}
