
#wrapper {
  border-bottom: 10px solid $govuk-blue;
}

#wrapper * {
  @include box-sizing(border-box);
}

#content,
.content-centered {
  @include box-sizing(border-box);
  display: block;
  margin: 0 auto;
  max-width: 1020px;
  padding: 15px;
  // Opera requires display:block for max-width to work...
  @include media(tablet) {
    padding: 0 30px;
  }
}

#content {

  background-color: $white;

  section {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-top: 1em;

    border-top: 1px solid $grey-2;

    .visualisation {
      width: 100%;
    }
  }
}

.performance-hidden {
  display:none;
}



$vertical-unit: $gutter-half;


.vertical-spacing-small {
  margin-top: $vertical-unit;
  margin-bottom: $vertical-unit;
  padding-top: $vertical-unit;
  padding-bottom: $vertical-unit;
}

.vertical-padding-medium {
  padding-top: $vertical-unit;
  padding-bottom: $vertical-unit;
  @include media(tablet) {
    padding-top: $vertical-unit * 2;
    padding-bottom: $vertical-unit * 2;
  }
}

.vertical-spacing-bottom {
  margin-bottom: $vertical-unit;
  padding-bottom: $vertical-unit;

}

.vertical-margin-top-small {
  margin-top: $vertical-unit;
}

.vertical-margin-small {
  margin-top: 0;
  margin-bottom: 5px;
}

.outdent-to-full-width {
  @extend %outdent-to-full-width;
}

.outdent-to-full-viewport-width {
  @extend %outdent-to-full-width;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: -$gutter;
  margin-right: -$gutter;
  @media (min-width: 1024px) {
    margin-left: -50%;
    margin-right: -50%;
  }
}

.outdent-to-full-viewport-width-inner {
  max-width: $site-width;

  @media (min-width: 1024px){
    margin: 0 auto;
  }
}