#content {
  .module-page {
    header {
      h1 {
        @include bold-24;
      }
      margin-bottom: 0;
    }
    section.module {
      border-top: none;
      h1 {
        @include bold-48;
        padding-bottom: 0.5em;
      }
      .visualisation-table {
        float: left;
        margin-top: 2em;
        margin-bottom: 1em;
        padding-right: 3em;
        width: 66%;
        table {
          width: 100%;
          margin-top: 0;
        }
        @media (max-width: 640px) {
          width: 100%;
          float: none;
          padding-right: 0;
        }
      }

      .visualisation-moreinfo {
        width: 33%;
        overflow: hidden;
        margin-top: 2em;
        display: inline-block;
        @media (max-width: 640px) {
          width: 100%;
        }
      }
    }
  }
  section.module {
    min-height: 190px;

    .visualisation-inner {
      width: 100%;
      float: left;
      clear: both;
    }

  }
}
