#content {
  // module-page is a class added on the page-per-thing
  .module-page {
    header {
      h1 {
        @include bold-24;
      }

      margin-bottom: 30px;
    }

    section.module {
      border-top: none;

      h1 {
        @include bold-48;
        padding-bottom: 0.5em;
      }

      > p {
        margin: 0;
      }

      .visualisation-table {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-right: 0;
        width: 100%;

        table {
          width: 100%;
          margin-top: 0;
          &.touch-table {
            width: calc(100% - 3em);
          }
        }

        @include media(tablet) {
          float: left;
          padding-right: 3em;
          width: 66%;
        }
      }

      .visualisation-moreinfo {
        width: 100%;
        overflow: hidden;
        margin-top: 2em;
        display: inline-block;
        float: left;

        @include media(tablet) {
          width: 33%;
        }
      }
    }
  }

  section.module {
    min-height: 190px;

    > p {
      margin: 5px 0 0 0;
    }

    .visualisation-inner {
      width: 100%;
      float: left;
      clear: both;
    }

  }
}
