#content {
  .more-info {
    @include core-16();
    padding-bottom: 1em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0.25em 0 0 0;
      }
    }
  }
}

@media (max-width: 640px) {
  #content .more-info {
    width: 100%;
  }
}
