#content {
  .more-info-link {
    @include core-16($tabular-numbers: true);
    @include popover-link;

    outline: none;
    float: right;
    margin: 0.2em 0 0 0;
    padding: 0;
    position: relative;
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  .more-info {
    @include core-16($tabular-numbers: true);

    position: relative;
    display: block; 

    &:hover ul {
      @include popover-no-js-show-on-hover;
    }

    ul {
      @include popover-block(92%);

      right: 0;
      width: 22em;
    }
  }
}

.details #content .more-info ul { 
  display: block;
}

@media (max-width: 640px) {
	#content .more-info-link {
	  margin-top: 0.05em;
  }
}
