#content {
  .more-info {
    border-top: 5px solid $primary-colour;
    @include core-16($tabular-numbers: true);
    width: 66%;
    margin-top: 1.5em;
    padding-top: 0.5em;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0.25em 0 0 0;
      }
    }
  }
}

@media (max-width: 640px) {
	#content .more-info {
	  width: 100%;
  }
}
