@import 'typography';
@import '_css3';

#content {
  .more-info-link {
    float: right;
    margin: -0.6em 0 0 0;
    padding: 0;
    top: -1em;
    position: relative;

    color: $link-colour;
    cursor: pointer;
    text-decoration: underline;

       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      color: $link-hover-colour;
    }
  }

  .more-info {
    position: relative;

    ul {
      display: none;
      background: $grey-4;
      top: 1em;
      position: absolute;
      margin: -0.2em 0 0 0;
      padding: 0.6em;
      right: 0;
      width: 22em;
      z-index: 101;

      list-style: none;
      background: $grey-4;
      border: 3px solid $primary-colour;

      // CSS arrow
      &:after, &:before {
        left: 92%;
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        margin-left: -15px;
        border-bottom-color: $grey-4;
        border-width: 15px;
      }

      &:before {
        margin-left: -19px;
        border-bottom-color: $primary-colour;
        border-width: 19px;
      }
    }
  }
}

// Always display the info box on hover.
// This behaviour is overriden for browsers with JavaScript.
#content .more-info:hover ul {
  display: block;
}

// If JavaScript is enabled, disable the hover functionality
// and use the jQuery click toggle.
body.js-enabled #content .more-info {
  &:hover ul {
    display: none;
  }
  ul.js-clicked {
    display: block;
  }
}


@media (max-width: 480px) {
  #content .more-info ul {
    width: 100%;
  }
}
