.multi_stats .visualisation ul {

	list-style-type: none;
	padding: 0;
	
	li { 
	  float: left;
	  width: 50%;
	  margin-top: 10px;
	  margin-bottom: 20px;
	  position: relative;
  }

  div { 
    float: left;
  }

  p.impact-number, p.stat-description { 
    margin-bottom: 0;
    clear: both;
    @include core-16($tabular-numbers: true);
	  strong {
	    @include bold-36($tabular-numbers: true);
	  }
  }

  p.impact-number { 
    margin-top: 8px;
  }

  .delta { 
    position: absolute;
    bottom: 0;
    left: 8em;
    @include core-16($tabular-numbers: true);
  }

  .sparkline { 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 13em;
  }

  .sparkline-graph { 
    float: none;
    clear: both;
  }
 
  @media(max-width: 640px) {

		li { 
		  width: 100%;
	  }
	
	  .delta { 
	    left: 7em;
	  }
	
  }

}
