@import 'design-patterns/_alpha-beta';

span.alpha-tag {
  @include phase-tag($state: alpha);
  margin-left: 2px;
  position: relative;
  top: -2px;
}

#global-header-bar .header-bar {
  background-color: $primary-colour;
}
