body.raw {
  #skiplink-container,
  #global-cookie-message,
  #global-header,
  #global-breadcrumb,
  #footer,
  .report-a-problem-toggle,
  .module-banner-text {
    display: none;
  }

  #content,
  #wrapper,
  .performance-platform-outer {
    margin:0;
    border:0;
    padding:0;
  }

  #content {
    h1,
    h2,
    aside.more-info {
      display: none;
    }

    .visualisation {
      float:left;
    }
  }

  .visualisation {
    width: 960px;
  }

  .multi_stats .sparkline-graph figure.graph .graph-wrapper {
    width: 180px;
  }

  .availability #availability-nav {
    display:none;
  }
}
