body.raw {
  #skiplink-container,
  #global-cookie-message,
  #performance-platform-colour-bar,
  #global-header,
  #global-breadcrumb,
  #footer,
  .report-a-problem-toggle,
  .module-banner-text {
    display: none;
  }

  #content,
  #wrapper,
  .performance-platform-outer {
    margin:0;
    border:0;
    padding:0;
  }

  #content {
    h1,
    h2,
    aside.more-info,
    nav {
      display: none;
    }

    .visualisation {
      float: left;
      width: 960px;

      .table-toggle {
        display: none;
      }
    }
  }

  .multi_stats .sparkline-graph figure.graph .graph-wrapper {
    width: 180px;
  }

  .sparkline .sparkline-title {
    top: 98px;
    right: 90px;
  }

  // Scrolling tables
  table.floated-header {
    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group;
    }
  }
}
