#content {

  .related-pages {

    @include core-16;

    h3 {
      @include core-16;
    }

    .related-transaction a {
      @include bold-24;
    }

    .improve-dashboard {
      margin-top: 30px;

      h3 {
        @include core-16;
        font-weight: bold;
      }

      p {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }

    .related-other {

      h3 {
        margin-top: 20px;
      }

      ul.items {
        margin: 0;
        padding-left: 0px;

        li {
          display: block;
          overflow: hidden;
          margin: 5px 0;
          line-height: 1;

          a {
            @include bold-16;
          }

          .metadata {
            @include core-14;
          }
        }
      }

    }
  }
}

@media (max-width: 640px) {

  #content .related-pages {
    position: relative;
    float: none;
    margin-left: 0;
    width: 90%;
    margin-top: 25px;

    .related-transaction {
      margin-top: 10px;
    }

    .related-other h3 {
      margin-top: 10px;
    }

  }
}
