#content {

  header .related-pages {
    float: right;
    margin-left: 25px;
    width: 300px / 960px * 100%; // 31.25%
  }

  .related-pages {

    h3 {
      @include core-16;
    }

    .related-transaction a {
      @include bold-24;
    }

    .related-other {

      h3 {
        margin-top: 20px;
      }

      ul.items {
        margin: 0;
        padding-left: 0px;

        li {
          display: block;
          overflow: hidden;
          margin: 7px 0;
          line-height: 1;

          a {
            @include bold-16;
          }

          .metadata {
            @include core-14;
          }
        }
      }

    }
  }
}

@media (max-width: 640px) {
  body {

    #content .related-pages {
      position: relative;
      float: none;
      margin-left: 0;
      width: 90%;
      margin-top: 25px;

      .related-transaction {
        margin-top: 10px;

        a {
          @include bold-16;
        }
      }

      .related-other h3 {
        margin-top: 10px;
      }

    }

  }
}
