#content {
  header {
    .related-pages {
      float: right;
      margin-left: 30px;
      width: 300px / 960px * 100%; // 31.25%

      ul.items {
        margin: 0;
        padding-left: 0px;

        li {
          display: block;
          overflow: hidden;
          margin: 7px 0;

          h3 {
            @include core-19($tabular-numbers: true);
            line-height: 1;
            a[rel="external"] {
              @include external-link-19;
            }
          }

          .metadata {
            @include core-14($tabular-numbers: true);
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  body {
    #content header .related-pages {
        position: relative;
        float: none;
        margin-left: 0;
        width: 90%;
    }

    &.js-enabled #content header .related-pages {

      h3.popover-link {
        @include popover-link;

        text-transform: lowercase;
        font-weight: normal;

        &:before {
          content: "View ";
          text-transform: capitalize;
        }
      }

      ul.items {
        @include popover-block(18%);

        &.js-clicked {
          @include popover-js-show-on-click;
        }
      }
    }
  }
}
