.sparkline {

	.sparkline-graph {
	  figure.graph {
	    .graph-wrapper {
	      svg {
	        max-height: 30px;
	        max-width: 180px;
	        min-height: 30px;

	        @media (max-width: 880px) {   
	          max-width: 300px;
	        }
	      }

	      .inner {
	        left: 10px;
	        right: 10px;
	        bottom: 10px;  
	        top: 10px;
	      }
	    }
	  }
	}

	.sparkline-title { 
	  float: right;
	  min-height: 3em;
	}
	
}
