.survey-wrapper {
  background-color: $white;
}

.survey {
  @extend .content-centered;
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    display: table;
    margin: 0;
    @include core-16;
  }
}

body:not(.homepage) {

  .survey-wrapper {
    background-color: $govuk-blue;
  }

  .survey {
    color: $white;

    a, a:visited {
      color: $white;
    }

    a:hover, a:active {
      color: $light-blue-25;
    }
  }
}
