table {
  margin-top: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid darken($grey-2, 10%);
  border-right: 1px solid darken($grey-2, 10%);
  &.touch-table {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: calc(100% - 3em);
  }

  thead {
    border-top: 1px solid darken($grey-2, 10%);
  }

  tbody {
    border-bottom: 1px solid darken($grey-2, 10%);
  }

  &.floated-header {
    thead {
      display: block;
    }

    tbody {
      display: block;
      max-height: 28em;
      overflow: auto;
    }
  }

  tbody {
    tr {
      &:first-of-type td {
        border-top: none;
      }

      &:last-of-type td {
        border-bottom: none;
      }
    }
  }

  th, td {
    @include core-16($tabular-numbers: true);
    padding: 0.7em 1em 0.7em 1em;
  }

  th {
    text-align: left;
    font-weight: bold;
    background-color: $grey-3;
    line-height: 1.25em;

    border-bottom: 1px solid darken($grey-2, 10%);
    border-right: 1px solid darken($grey-2, 10%);

    &:last-of-type {
      border-right: none;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.desc a:after,
    &.asc a:after {
      content: "\00a0\00a0\25BC";
      font-size: 8px;
      position: absolute;
    }

    &.asc a:after {
      content: "\00a0\00a0\25B2";
    }
  }

  td {
    background: mix($grey-3, $grey-4, 50%);

    border: dotted 1px $grey-2;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  .currency, .percent, .integer, .number {
    text-align: right;
  }

  tr:nth-child(even) td {
    background: $white;
  }
}

.visualisation-table.visuallyhidden {
  max-height: 28em;
  overflow: auto;
}
