table {
  margin-top: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #a1acb2;

  &.floated-header {
    thead {
      display: block;
    }

    tbody {
      display: block;
      max-height: 28em;
      overflow: auto;
    }
  }

  tbody {
    tr {
      &:first-of-type td {
        border-top: none;
      }

      &:last-of-type td {
        border-bottom: none;
      }
    }
  }

  th, td {
    @include core-16($tabular-numbers: true);
    padding: 0.7em 1em 0.7em 1em;
  }

  th {
    text-align: left;
    font-weight: bold;
    background-color: #dee0e2;
    color: #0b0c0c;
    line-height: 1.25em;

    border-bottom: 1px solid #a1acb2;
    border-right: 1px solid #a1acb2;

    &:last-of-type {
      border-right: none;
    }
  }

  td {
    background: #eaedef;

    border: dotted 1px #b8c6cc;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  .currency, .percent, .integer, .number {
    text-align: right;
  }

  tr:nth-child(even) td {
    background: #fff;
  }
}
