.visualisation nav {
  ul, ol {

    margin-top: 14px;
    border-bottom: 1px solid $grey-2;
    padding-left: 0;

    li {
      @include bold-16() ;
      border: 4px solid $white;
      background-color: $grey-3;
      list-style: none;
      float: left;
      cursor: pointer;
      min-width: 10em;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        margin-bottom: -1px;
        background-color: $white;
        border: 1px solid $grey-2;
        border-bottom: 0;
        cursor: default;
        &:hover {
          text-decoration: none;
        }
        a {
          color: $text-colour;
          padding: 9px 16px 7px 16px;
        }
      }
      a {
        padding: 6px 16px 2px 13px;
        text-decoration: none;
        display:block;
      }
    }
    &:after {
      display: block;
      clear: left;
      content: '.';
      height: 0;
      overflow: hidden;
    }
  }
}

#content .visualisation section {
  display: none;
  border-top: 0;
  margin-top: 0;
  &.active {
    display: block;
  }
  h2 {
    display: none;
  }
}
