.visualisation nav {
  ul {

    margin-top:0;
    border-bottom: 1px solid $grey-2;
    padding-left: 0;
    
    li {
      @include core-16($tabular-numbers: true) ;
      border: 4px solid $white;
      background-color: $grey-3;
      list-style: none;
      float: left;
      cursor: pointer;
      min-width: 10em;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        padding: 7px 16px 9px 16px;
        margin-bottom: -1px;
        background-color: $white;
        border: 1px solid $grey-2;
        border-bottom: 0;
        cursor: default;
        &:hover {
          text-decoration: none;
        }
      }
      a {
        padding: 4px 16px 4px 13px;
        text-decoration: none;
        color: $text-colour;
        display:block;
      }
    }
    &:after {
      display: block;
      clear: left;
      content: '.';
      height: 0;
      overflow: hidden;
    }
  }
}
