.user_satisfaction .visualisation-inner {

  display: table-cell;

  .stat {
    display: inline-block;
    vertical-align: bottom;

    strong {
      margin-bottom: 3px;
    }
  }

  .delta {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 1em;
    padding-bottom: 5px;

    .change {
      @include core-24();
    }
  }

  @media(max-width: 850px) {

    .delta {
      padding-bottom: 2px;
    }

  }

  @media(max-width: 640px) {

    .delta {
      padding-bottom: 0px;
    }

  }
}

#content .volumetrics-bar-selected {
  position: relative;

  h3 {
    font-size: 19px;
    font-weight: bold;
  }
  p {
    margin-top: 0;
  }

  p.volumetrics-bar-period {
    position: absolute;
  }
}