<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="/<%= style %>">
<% }) %>
<% with (scripts) { %>
  <%
  [].concat(jasmine, vendor, helpers, reporters).forEach(function(script){
    if (script.indexOf('jquery.mockjax') >= 0) {
      return;
    }
  %>
  <script src="<%= script %>"></script>
  <% }) %>

  <script type="text/javascript" charset="utf-8">
    window.specs = [
      <% specs.forEach(function(spec){ %>
      "<%= spec %>",
      <% }) %>
    ];
  </script>
  
  <script data-main="./test/spec/testrunner.js" src="./app/vendor/require.js"></script>
  
<% }; %>
</head>
<body>
</body>
</html>
