.double-decker-graph {

  h3 {
    clear:both;
    height:auto;
    margin:0;
    @include bold-19() ;
  }

  h1 {
    margin-bottom:.5em;
    margin-right:2em;
  }

  figure.graph {

    .graph-wrapper {
      svg {
        min-height: 135px;
        max-height: 135px;
        max-width: 790px;
      }

      .inner {
        left: 70px;
        right:30px;
      }
    }

    .x-axis .tick:nth-child(even) text {
      display:block;
    }
  }

  .timeseries-graph {
      .cursorLine.ascender {
        display: inherit;
      }
  }

  @media (max-width: 880px) {

    .graph {
      .x-axis .tick:nth-child(even) text {
        display:none;
      }
    }
  }

  @media(max-width: 640px) {
    .impact-number {
      width: 9.8em;
    }

    figure.graph {
      margin-left: 10em;
      margin-right: 0;
      .graph-wrapper {
        svg {
          min-height: 110px;
        }
      }

      .y-axis .tick:nth-child(even) text {
        display:block;
      }

      .inner {
        left: 55px;
      }
    }
  }

  @media(max-width: 500px) {

    .impact-number {
      float:none;
      width: auto;
    }

    .timeseries-graph {
      figure.graph {
        margin-left:0;
      }

      &:nth-of-type(1) {
        .cursorLine.descender {
          display: none;
        }
        .x-axis text {
          display: inherit;
        }
        .inner {
          bottom: 40px;
        }
      }
      &:nth-of-type(2) {
        .cursorLine.ascender {
          display: none;
        }
      }
    }
  }
}
