.single-decker-graph {
  .impact-number {
    color: $data-colour-1;
    float:right;
    width: 12.3em;
    strong {
      @include bold-48();
    }

    .summary {
      color: $black;
      border-bottom: 1px solid $grey-2;
      display: block;
      font-weight: bold;
    }

    .total-responses,
    .overview,
    .delta {
      color: $black;
    }

  }

  ul.module-actions {
    margin-top:-36px;
    margin-bottom: 44px;
  }

  h3 {
    clear:both;
    height:0;
    margin:0;
    @include bold-19() ;
  }

  h1 {
    margin-right:2em;
  }

  figure.graph {
    margin-right: 12.5em;

    .graph-wrapper {
      svg {
        min-height: 135px;
        max-height: 135px;
        max-width: 760px;
        position: relative;
      }

      .inner {
        left: 60px;
        right:30px;
        bottom:50px;
        border-bottom: 2px solid $grey-2;
      }

      .cursorLine.ascender {
        display: inherit;
      }

    }
  }

  &.column-graph {
    figure.graph{
      .graph-wrapper{
        svg{
          max-height:200px;
        }
      }
    }
  }

  @media (max-width: 880px) {

    figure.graph {
      .x-axis .tick:nth-child(even) text {
        display:none;
      }
    }
  }

  @media(max-width: 640px) {

    .impact-number {
      width: 9.8em;
    }

    figure.graph {
      margin-right: 0;
      min-height: 110px;
      .y-axis .tick:nth-child(even) text {
        display:block;
      }
    }
  }

  @media(max-width: 500px) {

    .impact-number {
      float:none;
      width:auto;
    }

    figure.graph {
      float:none;
    }
  }

}
