<div id='about-content'>

  <header>
    <h1>About dashboards</h1>

      <p class="lead">
        Performance Dashboards are likely to be used by many people, including:
      </p>

      <ul>
        <li>government service managers and their teams</li>
        <li>journalists</li>
        <li>students and researchers</li>
        <li>members of the public interested in how public services are doing</li>
      </ul>
  </header>

  <section>
    <h2>Government service managers</h2>
      <p>If you’re a government service manager, you can see how your service is doing by using a Performance Dashboard. Dashboards let you quickly spot problems with your service so you can take action to improve it.</p>

      <p>You need to integrate your service with a Performance Dashboard to:</p>

      <ul>
        <li>pass the Digital Service Standard</li>
        <li>avoid spending time manually collecting data about your service</li>
        <li>make decisions on the latest data available about your service</li>
        <li>compare how your service is doing with other public services</li>
        <li>be open to the public</li>
      </ul>

      <p>You can contact the Performance Platform team if you need technical help connecting your service to a Performance Dashboard.</p>

    <h2>Open data</h2>

      <p>The Performance Dashboards are just another way the government is opening up data to the public.</p>

      <p>If you’re a service manager, you may be concerned about presenting facts about how your service is doing so openly. In general the novelty of open data has worn off. There is nothing sensational about seeing how many people are satisfied with a government service, or how many people completed an application.</p>

      <p>The data in the dashboards is also anonymous.</p>

    <h2>Getting a dashboard</h2>

      <p>You can easily get a Performance Dashboard if you’re responsible for a government service. Just email <a href="mailto:performance@digital.cabinet-office.gov.uk">performance@digital.cabinet-office.gov.uk</a> to start.</p>

      <p>Every Performance Dashboard must measure a service according to how:</p>

      <ul>
        <li>much it costs each person to use the service (cost per transaction)</li>
        <li>satisfied people feel when using the service (user satisfaction)</li>
        <li>likely people are to complete the service (completion rate)</li>
        <li>many people use the digital service (digital take-up)</li>
      </ul>

      <p>You can choose from a list of other ways a service can be measured &ndash; eg its availability or how much help people need when using it.</p>

      <p>If you want a different measurement that is not on the list, <a href="mailto:performance@digital.cabinet-office.gov.uk">email the Performance Platform team</a>. The team will assess whether it’s possible for a dashboard to measure your service this way. They will then help you display the measurement on the dashboard if so.</p>

      <p>After you have decided how your service will be measured, you will need to think about how the dashboard will display the information, eg whether this will be in a graph or table form.</p>

      <h3>Putting data in the dashboard</h3>

        <p>There are 3 ways data can be put into a dashboard:</p>

        <ol>
          <li>You can share your analytics data with the Performance Platform team, eg data from Google Analytics, Omniture, Piwik. The Analytics data will track how many people:
            <ul>
              <li>view a service online</li>
              <li>start completing an online application</li>
              <li>finish completing a service online</li>
            </ul>
          </li>

          <li>
            Your developers will write code that will send the latest service information to a Performance Dashboard. We have a <a href="http://performance-platform.readthedocs.org/">guide for developers</a> on the technology behind the dashboards. Please <a href="mailto:performance@digital.cabinet-office.gov.uk">email the Performance Platform team</a> before they start.
          </li>

          <li>
            Put your data in an Excel spreadsheet and upload the spreadsheet to the Performance Dashboard website. You are responsible for regularly updating the spreadsheet with your latest data. Whenever your spreadsheet is updated, the dashboard will be updated.
          </li>
        </ol>

    <h2>Coming soon</h2>

      <p>So far 97 government services have dashboards, with more coming soon.</p>

      <p>The Performance Platform team will also continue to work with government departments to:</p>

      <ul>
        <li>show more information about how government services are doing &ndash; eg a dashboard could show how long it takes government to process an application, or how long it takes a person to complete an application</li>
        <li>create new ways to display information &ndash; eg use maps to display geographic data</li>
        <li>improve the quality of data put in the dashboards</li>
      </ul>

      <p>New dashboard features are on the way.</p>

      <p>People will soon be able to download data from the dashboards. Service managers will be able to sign up for alerts to be told by email or text if there are any big changes in how their service is used.</p>

  </section>

</div>
