<div id='about-content'>

  <header>
    <main>
      <h1>About dashboards</h1>

        <p class="lead">
          Performance Dashboards are likely to be used by many people, including:
          <ul>
            <li>members of the public interested in how public services are doing</li>
            <li>journalists</li>
            <li>students and researchers</li>
            <li>government service managers and developers</li>
          </ul>
        </p>
    </main>

    <section>
      <h2>Government service managers</h2>

        <p>If you’re a government service manager, you can get a snapshot of how your service is doing by using a Performance Dashboard. The dashboard allows you to spot problems with your service so you can take action to improve it.</p>

        <p>
          You need to integrate your service with a Performance Dashboard to:
          <ul>
            <li>pass the Digital Service Standard</li>
            <li>avoid spending time manually collecting data about your service</li>
            <li>make decisions on the latest data available about your service</li>
            <li>compare how your service is doing with other public services</li>
            <li>be open to the public</li>
          </ul>
        </p>

        <p>You can contact the Performance Platform team if you need technical help connecting your service to a Performance Dashboard.</p>

      <h2>Open data</h2>

        <p>The Performance Dashboards are just another way the government is opening up data to the public. If you’re a service manager, you may be concerned about presenting facts about how your service is doing so openly. In general the novelty of open data has worn off. There is nothing sensational about seeing how many people are satisfied with a government service, or how many people completed an application. The data in the dashboards is also anonymous and contains no personally identifiable information.</p>

      <h2>Getting a dashboard</h2>

        <p>You can easily get a Performance Dashboard if you’re responsible for a government service. Just email <a href="mailto:performance@digital.cabinet-office.gov.uk">performance@digital.cabinet-office.gov.uk</a> to start.</p>

        <p>Every Performance Dashboard must measure a service according to how:
          <ul>
            <li>much it costs each person to use the service (cost per transaction)</li>
            <li>satisfied people feel when using the service (user satisfaction)</li>
            <li>likely people are to complete the service (completion rate)</li>
            <li>many people exchange with the service online</li>
          </ul>
        </p>

        <p>You can choose from a list of other ways a service can be measured - eg its availability or how much help people need when using it.</p>

        <p>If you want a different measurement that is not on the list, <a href="mailto:performance@digital.cabinet-office.gov.uk">email the Performance Platform team</a>. The team will assess whether it’s possible for a dashboard to measure your service this way. They will then help you display the measurement on the dashboard if so.</p>

        <p>After you have decided how your service will be measured, you will need to think about how the dashboard will display the information, eg whether this will be in a graph or table form.</p>

        <h3>Putting data in the dashboard</h3>

          <p>There are 3 ways data can be put into a dashboard:
            <ol>
              <li>
                <p>You can share your analytics data with the Performance Dashboard team, eg data from Google Analytics, Omniture, Piwik.</p>
                <p>The Analytics data will track how:
                  <ul>
                    <li>many people view a service online</li>
                    <li>how many people start completing an online application</li>
                    <li>how many people finish completing a service online</li>
                  </ul>
                </p>
              </li>

              <li>
                <p>Your developers will write code that will send the the latest service information to a Performance Dashboard.</p>
                <p>Developers have access to a guide on the technology behind the dashboards. They should contact the Performance Platform team before they start.</p>
              </li>

              <li>
                <p>Put your data in an Excel spreadsheet and upload the spreadsheet to the Performance Dashboard website.</p>
                <p>You are responsible for regularly updating the spreadsheet with your latest data. Whenever your spreadsheet is updated, the dashboard will be updated.</p>
              </li>
            </ol>
          </p>

    </section>

</div>
