<div id='about-content'>

  <header>
    <h1>About dashboards</h1>

      <p class="lead">
        Performance Dashboards are likely to be used by many people, including:
      </p>

      <ul class="lead">
        <li>government service managers and their teams</li>
        <li>journalists</li>
        <li>students and researchers</li>
        <li>members of the public interested in how public services are doing</li>
      </ul>
  </header>

  <section>
    <h2>Government service managers</h2>
      <p>If you’re a government service manager, you can see how your service is doing by using a Performance Dashboard. A dashboard lets you quickly spot problems with your service so you can take action to improve it.</p>

      <p>You need to integrate your service with a Performance Dashboard to:</p>

      <ul>
        <li>pass the Digital Service Standard</li>
        <li>avoid spending time manually collecting data about your service</li>
        <li>make decisions on the latest data available about your service</li>
        <li>compare how your service is doing with other public services</li>
        <li>be open to the public</li>
      </ul>

      <p>If you work on a government service we can help you create a dashboard &ndash; email <a href="mailto:performance@digital.cabinet-office.gov.uk">performance@digital.cabinet-office.gov.uk</a></p>

    <h2>Open data</h2>

      <p>The Performance Dashboards are just another way the government is opening up data to the public.</p>

      <p>If you’re a service manager, you may be concerned about presenting facts about how your service is doing so openly. In general the novelty of open data has worn off. There is nothing sensational about seeing how many people are satisfied with a government service, or how many people completed an application.</p>

      <p>The data in the dashboards is also anonymous.</p>

    <h2>Get a dashboard</h2>

      <p>You can easily <a href="http://performance-platform.readthedocs.org/">get a Performance Dashboard</a> if you’re responsible for a government service.

  </section>
</div>
