<div id='acc-content'>
	<header>
		<h1>Accessibility statement for GOV.UK Performance Platform</h1>
		<p>
			This accessibility statement explains how accessible this
			service is, what to do if you have difficulty using it, and how
			to report accessibility problems with the service.
		</p>
		<p>
			This service is part of the wider GOV.UK website. There’s a
			<a href="https://www.gov.uk/help/accessibility">separate accessibility statement for the main GOV.UK website</a>.
		</p>
		<p>
			This page only contains information about the GOV.UK Performance Platform service, available at https://www.gov.uk/performance.
		</p>
		<p>
			We’ve also made the text in the service as simple as possible to understand.
			<a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
		</p>
		<p>
			This service is run by the Government Digital Service (GDS). We want as many people as possible to be able to use this service. This means you should be able to:
			<ul>
				<li>change colours, contrast levels and fonts</li>
				<li>zoom in up to 300% without the text spilling off the screen</li>
				<li>get from the start of the service to the end using just a keyboard</li>
				<li>get from the start of the service to the end using speech recognition software</li>
				<li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
			</ul>
		</p>
	</header>
	<section>
		<h2>How accessible is this website</h2>
		<p>
			We know some of this website is not fully accessible; the following accessibility problems have been identified:
		</p>
		<ul>
			<li>Broken ARIA reference, this will cause problems for tools which help with accessibility. </li>
			<li>Lack of Adequate contrast between foreground and background colours which makes it difficult for those with low vision to differentiate between rows in tables, especially users with low vision.</li>
			<li>Heading level skipped. Headings provide document structure and facilitate keyboard navigation by users of assistive technology.</li>
			<li>Redundant links on pages which may create additional navigation for keyboard and screen reader users.</li>
		</ul>
		<p>
			We are in the process of transitioning all these platforms to new arrangements, so it would be disproportionate to make the necessary changes to the old platforms.
		</p>

		<h2>What to do if you have difficulty using this service</h2>
		<p>
			If you need any part of this service in a different format
			please contact
			<a href="https://www.gov.uk/contact/govuk">https://www.gov.uk/contact/govuk</a>
		</p>
		<p>
			We’ll consider your request and get back to you within two
			working days.
		</p>

		<h2>Reporting accessibility problems with this service</h2>
		<p>
			If you find any problems that are not listed on this page or
			think we’re not meeting accessibility requirements, please
			contact us via the following link
			<a href="https://www.gov.uk/contact/govuk">https://www.gov.uk/contact/govuk</a>
		</p>

		<h2>Enforcement procedure</h2>
		<p>
			The Equality and Human Rights Commission (EHRC) is responsible for
			enforcing the Public Sector Bodies (Websites and Mobile
			Applications) (No. 2) Accessibility Regulations 2018 (the
			‘accessibility regulations’). If you are not happy with how we
			respond to your complaint, contact the
			<a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service</a>,
			which is run on behalf of EHRC.  Technical
			information about this service’s accessibility We’re committed to making
			this service accessible, in accordance with the Public Sector Bodies
			(Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
		</p>

		<h2>Compliance status</h2>
		<p>
			This service is partially compliant with the
			<a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>,
			due to the non-compliances listed below.
		</p>

		<h2>Non compliant content</h2>
		<p>
			The content listed below is non-accessible for the following reasons.
		</p>
		<ul>
			<li>Broken ARIA reference, 1.3.1 Info and Relationships (Level A) and 4.1.2 Name, Role, Value (Level A)</li>
			<li>some foreground and background colours lack contrast, so users with low vision for example they may will find it difficult to pick out rows in tables - this fails WCAG 2.1 success criterion 1.4.3 (Contrast)</li>
			<li>some pages are missing a heading - this fails WCAG 2.1 success criterion 1.3.1 (Info and Relationships)</li>
			<li>Adjacent links go to the same URL. This results in additional navigation and repetition for keyboard and screen reader users. - this fails WCAG 2.1 2.4.4 Link Purpose (In Context) (Level A) success criterion 2.1.1 (Keyboard)</li>
		</ul>

		<h2>Preparation of this accessibility statement</h2>
		<p>
			We last tested this service for compliance with WCAG 2.1 AA on 18 September 2020
		</p>
		<p>
			We used this approach to deciding on a sample of pages to test.
		</p>
		<ul>
			<li>We used <a href="https://developers.google.com/web/tools/lighthouse/">Lighthouse</a> to audit each page for accessibility issues.</li>
			<li>We used <a href="https://wave.webaim.org">Wave</a> to automatically test for accessibility issues on pages that do not need users to sign in.</li>
		</ul>

		<p>
			We tested:
		</p>
		<ul>
			<li>Our main website platform, available at www.gov.uk/performance</li>
			<li>Link to a set of dashboards at www.gov.uk/performance/other</li>
			<li>A dashboard www.gov.uk/performance/govuk-pay</li>
		</ul>

		<h2>Disproportionate burden</h2>
		<p>
			We are in the process of transitioning all these platforms to new
			arrangements, so it would be disproportionate to make the necessary
			changes to the old platforms.
		</p>

		<h2>What we’re doing to improve accessibility</h2>
		<p>
			We have set out in the Disproportionate burden sections of this
			statement the reasons why we will not be able to resolve these
			issues.
		</p>

		<p>
			This page was prepared on 21 September 2020
		</p>
	</section>
</div>
