<div id='homepage-content'>
  <div class="outdent-to-full-viewport-width performance-brand">
    <div class="outdent-to-full-viewport-width-inner hero-banner vertical-padding-medium">
      <h1 class="hero-banner-heading">Performance</h1>
      <div class="hero-banner-strapline">
        Performance data for government services
      </div>
    </div>
  </div>

  <div class="vertical-padding-medium grid-row" aria-labelledby="header-dashboard-counts">
    <h2 class="visuallyhidden" id="header-dashboard-counts">Dashboard counts</h2>
    <div class="column-third">
      <a class="impact-link" href="/performance/services">
        <span class="impact-link-figure">768</span> <span class="impact-link-label">service stage dashboards</span>
      </a>
    </div>
    <div class="column-third">
      <a class="impact-link" href="/performance/web-traffic">
        <span class="impact-link-figure">38</span> <span class="impact-link-label">department&apos;s web traffic</span>
      </a>
    </div>
    <div class="column-third">
      <a class="impact-link" href="/performance/prototypes">
        <span class="impact-link-figure">11</span> <span class="impact-link-label">prototypes</span>
      </a>
    </div>
  </div>
  <section id="service-dashboards">
    <h2>Services data</h2>
    <div class="cols3 service-listing">
      <h3>Detailed dashboards</h3>
      <p class="count"><%= services.length + serviceGroups.length %></p>
    </div>
    <div class="cols3 add3">
      <p>Services providing regularly updated, detailed data to GOV.UK</p>
      <div class="cols2 service-listing">
        <ul>
          <% _.each(services, function (service, i) { %>
            <li><a href="/performance/<%= service.slug %>"><%= service.title %></a></li>
            <% if (i + 1 === Math.ceil((services.length + serviceGroups.length) / 2)) { %>
              </ul>
            </div>
            <div class="cols2 service-listing">
              <ul>
            <% } %>
          <% }); %>
        </ul>
        <% if (serviceGroups.length) { %>
          <dl>
            <dt class="service_groups">Service groups</dt>
            <dd>
              <ol>
                <% _.each(serviceGroups, function (service, i) { %>
                  <li><a href="/performance/<%= service.slug %>"><%= service.title %></a></li>
                <% }); %>
              </ol>
            </dd>
          </dl>
        <% } %>
      </div>
    </div>
  </section>
  <section id="overview-dashboards">
    <div class="cols3 service-listing">
      <h3>Overview dashboards</h3>
      <p class="count"><%= highVolumeServices.length %></p>
    </div>
    <div class="cols3 add3">
      <p>Services providing quarterly data to GOV.UK</p>
      <p><a href="/performance/services"><strong>View all services</strong></a></p>
    </div>
  </section>
  <section id="activity-dashboards">
    <h2>GOV.UK activity dashboards</h2>
    <div class="cols3 service-listing">
      <h3>Activity dashboards</h3>
      <p class="count"><%= contentDashboards.length + 1 %></p>
    </div>
    <div class="cols3 add3">
      <p>Web traffic on our site, including a look at how our content is being used.</p>
      <p><a href="/performance/site-activity"><strong>GOV.UK site activity overview</strong></a></p>
      <h3 class="underline">Department activity dashboards</h3>
      <div class="cols2 service-listing">
        <ul>
          <% _.each(contentDashboards, function (contentDashboard, i) { %>
            <li><a href="/performance/<%= contentDashboard.slug %>"><%= contentDashboard.title %></a></li>
            <% if (i + 1 === Math.ceil(contentDashboards.length / 2)) { %>
              </ul>
            </div>
            <div class="cols2 service-listing">
              <ul>
            <% } %>
          <% }); %>
        </ul>
      </div>
    </div>
  </section>

  <section class="service-listing" id="transactions-explorer">
    <h2>Transactions Explorer</h2>
    <div class="row">
      <div class="cols3">
        <p>An overview of all transaction-based services the government provides.</p>
        <p><a href="/performance/transactions-explorer/all-services/by-transactions-per-year/descending">View all services</a></p>
      </div>
      <div class="cols3 add3">
        <a href='/performance/transactions-explorer/all-services/by-transactions-per-year/descending'>
          <img alt="" src="<%= assetPath %>images/<%= assetDigest['homepage-transactions-explorer.png'] %>">
        </a>
      </div>
    </div>
  </section>

</div>
