<div id='homepage-content'>
  <div class="outdent-to-full-viewport-width brand-performance">
    <div class="outdent-to-full-viewport-width-inner hero-banner vertical-padding-medium">
      <h1 class="hero-banner-heading">Performance</h1>

      <div class="hero-banner-strapline">
        Performance data for government services
      </div>
    </div>
  </div>

  <div class="vertical-padding-medium grid-row" aria-labelledby="header-dashboard-counts">
    <h2 class="visuallyhidden" id="header-dashboard-counts">Dashboard counts</h2>

    <div class="column-third">
      <a class="impact-link" href="/performance/services">
        <span class="impact-link-figure"><%= serviceCount %></span> <span class="impact-link-label">service dashboards</span>
      </a>
    </div>
    <div class="column-third">
      <a class="impact-link" href="/performance/web-traffic">
        <span class="impact-link-figure"><%= webTrafficCount %></span> <span
              class="impact-link-label">web traffic dashboards</span>
      </a>
    </div>
    <div class="column-third">
      <a class="impact-link" href="/performance/other">
        <span class="impact-link-figure"><%= otherCount %></span> <span class="impact-link-label">other dashboards</span>
      </a>
    </div>
  </div>

  <div class="homepage-showcase" aria-labelledby="selected-dashboards">
    <h2 class="visuallyhidden" id="selected-dashboards">Selected dashboards</h2>
    <% _.each(showcaseServices, function (service, index) { %>
    <div class="brand-<%= service.deptCode %> brand-interactive outdent-to-full-width vertical-spacing-small grid-row">
      <div class="column-third">
        <h3 class="heading-2"><a class="link-unstyled" href="/performance/<%= service.slug %>"><%= service.title %></a></h3>
      </div>
      <div class="column-third">
        <div class="homepage-showcase-item">
          <a class="link-unstyled" href="/performance/<%= service.slug %>#cost-per-transaction">
            <span class="homepage-showcase-figure"><%= service.cost_per_transaction %></span> per transaction
          </a>
        </div>
        <div class="homepage-showcase-item">
          <a class="link-unstyled" href="/performance/<%= service.slug %>#digital_takeup">
            <span class="homepage-showcase-figure"><%= service.digital_takeup %></span> use the digital service
          </a>
        </div>
      </div>
      <div class="column-third">
        <div class="homepage-showcase-item">
          <a class="link-unstyled" href="/performance/<%= service.slug %>#user-satisfaction-score">
            <span class="homepage-showcase-figure"><%= service.user_satisfaction_score %></span> users satisfied
          </a>
        </div>
        <div class="homepage-showcase-item">
          <a class="link-unstyled" href="/performance/<%= service.slug %>#completion-rate">
            <span class="homepage-showcase-figure"><%= service.completion_rate %></span> complete successfully
          </a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <div class="vertical-spacing-small"><a class="link-large" href="/performance/services">See data on all <%= serviceCount %> services</a></div>

  <h2 class="visuallyhidden">Highest performing services</h2>
  <div class="grid-row">
    <div class="column-half vertical-margin-top-small" aria-labelledby="top-services-cost">
      <div class="icon-top-services">
        <img src="<%= assetPath %>images/<%= assetDigest['cost-per-transaction.svg'] %>" alt="" />
      </div>
      <h2 class="vertical-margin-small" id="top-services-cost">Cost per transaction</h2>
      <p class="text-small">How much do government services cost the taxpayer per user?</p>
      <%= tableCost %>
      <p><a class="text-small" href="/performance/services?sortby=cost_per_transaction&sortorder=ascending#filtered-list">See all</a></p>
    </div>
    <div class="column-half vertical-margin-top-small" aria-labelledby="top-services-satisfaction">
      <div class="icon-top-services">
        <img src="<%= assetPath %>images/<%= assetDigest['user-satisfaction.svg'] %>" alt="" />
      </div>
      <h2 class="vertical-margin-small" id="top-services-satisfaction">User satisfaction</h2>
      <p class="text-small">How satisfied are the people who use government services?</p>
      <%= tableSatisfaction %>
      <p><a class="text-small" href="/performance/services?sortby=user_satisfaction_score&sortorder=descending#filtered-list">See all</a></p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-half vertical-margin-top-small" aria-labelledby="top-services-completion">
      <div class="icon-top-services">
        <img src="<%= assetPath %>images/<%= assetDigest['completion-rate.svg'] %>" alt="" />
      </div>
      <h2 class="vertical-margin-small" id="top-services-completion">Completion rate</h2>
      <p class="text-small">How many people manage to use government services successfully?</p>
      <%= tableCompletion %>
      <p><a class="text-small" href="/performance/services?sortby=completion_rate&sortorder=descending#filtered-list">See all</a></p>
    </div>
    <div class="column-half vertical-margin-top-small" aria-labelledby="top-services-takeup">
      <div class="icon-top-services">
        <img src="<%= assetPath %>images/<%= assetDigest['digital-takeup.svg'] %>" alt="" />
      </div>
      <h2 class="vertical-margin-small" id="top-services-takeup">Digital take-up</h2>
      <p class="text-small">How many people use government digital services?</p>
      <%= tableDigital %>
      <p><a class="text-small" href="/performance/services?sortby=digital_takeup&sortorder=descending#filtered-list">See all</a></p>
    </div>
  </div>
  <section class="service-listing" id="transactions-explorer">
    <h2>Transactions Explorer</h2>

    <div class="row">
      <div class="cols3">
        <p>An overview of all transaction-based services the government provides.</p>

        <p>
          <a href="/performance/transactions-explorer/all-services/by-transactions-per-year/descending">View
            all services</a></p>
      </div>
      <div class="cols3 add3">
        <a href='/performance/transactions-explorer/all-services/by-transactions-per-year/descending'>
          <img class="homepage-tx" alt=""
               src="<%= assetPath %>images/<%= assetDigest['homepage-transactions-explorer.png'] %>">
        </a>
      </div>
    </div>
  </section>

</div>
