<% if (pageType === 'module' && !model.get('parent').get('published')) { %>
  <header id="unpublished-warning">
    <p>This dashboard is a prototype and may disappear at any time. The data is for demonstration purposes only.</p>
  </header>
<% } %>

<% if (pageType === 'module') { %>
  <h1 id="<%= self.ariaId() %>"><%= model.get('title') %></h1>
<% } else { %>
  <% if (url) { %>
    <h2 id="<%= self.ariaId() %>"><a href="<%= url %>"><%= model.get('title') %></a></h2>
  <% } else { %>
    <h2 id="<%= self.ariaId() %>"><%= model.get('title') %></h2>
  <% } %>
<% } %>

<% if (pageType === 'module' && datePicker) { %>
<div class="date-picker" />
<% } %>

<% if (model.get('description')) { %>
  <p><%= model.get('description') %></p>
<% } %>

<div class="visualisation">

<div class="visualisation-inner"></div>

<% if (hasTable) { %>
<div class="visualisation-table<% if (pageType !== 'module') {%> visuallyhidden<%} %> "></div>
<% } %>

<div class="visualisation-moreinfo">


<% if (pageType === 'module' && model.get('module-type') !== 'tab') { %>
<aside class="more-info download" role="complementary">
  <h2 id="download">Download the data</h2>
  <ul>
    <li class="json-summary"><a href="<%= jsonUrl %>">JSON</a></li>
  </ul>
</aside>


<% if (model.get('info') && pageType === 'module') { %>
<aside class="more-info about" role="complementary">
  <h2>About the data</h2>
  <ul>
    <% _.each(model.get('info'), function (row) { %>
    <li><%= row %></li>
    <% }) %>
  </ul>
</aside>
<% } %>

<% } %>

</div>

</div>
