<%= get_in_touch %>
<header><h1><%= heading %></h1></header>
<form id="filter-wrapper" method="get" action="">
  <div id="faceted-search" class="cols-row cols-row-no-margin vertical-spacing-bottom">
    <h2 class="visuallyhidden">Filter services by keyword, service or department</h2>
    <div class="cols2">
      <label for="filter" id="filter-keywords">Service name contains</label>
      <input id="filter" placeholder="Example: <%= example %>" name="filter" value="<%= filter %>" type="search" />
    </div>
    <% if (departments.length) {%>
    <div class="cols2">
      <label for="department" id="filter-department"><span aria-hidden="true">Department</span><span class="visuallyhidden">Select a department or agency to filter services by</span></label>
      <select id="department" name="department">
        <option value="">All departments</option>
        <optgroup label="Ministerial departments">
          <% _.each(departments, function (department) { %>
          <option value="<%= department.slug %>"
          <% if (department.slug === departmentFilter) { %>selected<% } %>><%= department.title
          %></option>
          <% }); %>
        </optgroup>
        <% if (agencies.length) {%>
        <optgroup label="Other departments &amp; public bodies">
          <% _.each(agencies, function (agency) { %>
          <option value="agency:<%= agency.slug %>"
          <% if ('agency:' + agency.slug === departmentFilter) { %>selected<% } %>><%= agency.title
          %></option>
          <% }); %>
        </optgroup>
        <% }%>
      </select>
    </div>
    <% }%>

    <input type="submit" value="Filter services" id="filter-submit-button"/>
  </div>


</form>

<div class="services group vertical-spacing-bottom">
  <div class="cols2">
    <h2 class="visuallyhidden">Number of services</h2>
    <p class="visuallyhidden">The services list can be filtered by keyword and department or agency.</p>
    <div class="impact-number summary-figure cols-row cols-row-no-margin">
      <strong class="align-top impact-figure-with-desc summary-figure-count"><%= filteredCount %></strong>
      <span class="impact-number-description summary-figure-description">
        <span class="summary-figure-unit emphasis">services</span>
        <% if (filter) {%>containing <span class="emphasis">"<%= filter %>"</span><button class="btn-remove btn-inline" data-filter="filter" type="button">×</button>
        <% } %>
        <% if (departmentFilterTitle) {%>
          provided by <span class="emphasis"><%= departmentFilterTitle %></span><button class="btn-remove btn-inline" data-filter="department" type="button">×</button>
        <% } %>
      </span>
    </div>
    <h2 class="visuallyhidden">CSV file of full data set</h2>
    <div class="cols-row cols-row-no-margin vertical-spacing-bottom text-small">
      <a href="/performance/data/transaction-volumes.csv">Download cost per transaction and volume data (CSV)</a>
    </div>
  </div>

  <div class="cols2 service-kpis">
    <h2 class="visuallyhidden">Totals and averages for filtered services</h2>
    <div class="cols-row cols-row-no-margin">
      <% _.each(aggregateVals, function (kpi, index) { %>
      <div class="vertical-spacing-bottom module kpi <%= kpi.key %>">
        <div class="visualisation">
          <div class="visualisation-inner impact-number group">
            <div class="stat">
              <p class="single-stat-headliner">
                <% if (kpi.formattedValue) {%>
                  <strong class="align-top impact-figure-with-desc"><%= kpi.formattedValue %></strong>
                <% } else { %>
                  <strong class="no-data align-top impact-figure-with-desc">no data</strong>
                <% } %>
                <span class="summary-figure-unit"><%= kpi.label %></h3>
              </p>
            </div>
          </div>

          <div class="text-small visualisation-moreinfo<% if (!kpi.formattedValue) {%> hidden<% } %>">
            <% if (filteredCount > 1) { %>
            <% if (kpi.isWeighted) { %>
              weighted average
            <% } else { %>
              total
            <% } %> for
            <% } %>
            <a href="#filtered-list" class="js-sort-by" data-sort-by="<%= kpi.key %>">
            <% if (kpi.allRowsHaveValues === true) { %>
              <% if (filteredCount === 1) { %>
                1 service
              <% } else { %>
                all <%= filteredCount %> services
              <% } %>
            <% } else { %>
            <%= kpi.valueCount %> services out of <%= filteredCount %>
            <% } %>
            </a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

  </div>
</div>

<section class="filtered-list visualisation-table" id="filtered-list">
  <h2 class="visuallyhidden">List of services</h2>
  <div class="heading-3 mq-small-only">Sort by:</div>
  <%= table %>
</section>
