<header>
  <h1>Services</h1>
  <p class="lead">Services providing performance data to GOV.UK</p>
</header>

<form id="filter-wrapper" class="services" method="get" action="">
  <label for="filter" class="primary-filter">Find a service named:</label>
  <input id="filter" placeholder="Example: Licensing" name="filter" value="<%= filter %>" />

  <div id="faceted-search">
    <label for="department">Department:</label>
    <select id="department" name="department">
      <option value="">All departments</option>
      <% _.each(departments, function (department) { %>
        <option value="<%= department.slug %>" <% if (department.slug === departmentFilter) { %>selected<% } %>><%= department.title %></option>
      <% }); %>
    </select>

    <label for="agency">Agency:</label>
    <select id="agency" name="agency">
      <option value="">All agencies</option>
      <% _.each(agencies, function (agency) { %>
        <option value="<%= agency.slug %>" <% if (agency.slug === agencyFilter) { %>selected<% } %>><%= agency.title %></option>
      <% }); %>
    </select>

    <input type="submit" value="Filter dashboards" id="filter-submit-button" />
  </div>
</form>

<section id="services-list" class="filtered-list">
  <%= list %>
</section>
