<h1><%= heading %></h1>

<form id="filter-wrapper" method="get" action="">
  <div id="faceted-search" class="cols-row cols-row-no-margin vertical-spacing-bottom">
    <h2 class="visuallyhidden">Filter services by keyword, service or department</h2>
    <div class="cols3">
      <label for="filter" id="filter-keywords">Service name contains</label>
      <input id="filter" placeholder="Example: <%= example %>" name="filter" value="<%= filter %>" type="search" />
    </div>
    <% if (departments.length) {%>
    <div class="cols3">
      <label for="department" id="filter-department"><span aria-hidden="true">Department</span><span class="visuallyhidden">Select a department or agency to filter services by</span></label>
      <select id="department" name="department">
        <option value="">All departments and agencies</option>
        <optgroup label="Departments">
          <% _.each(departments, function (department) { %>
          <option value="<%= department.slug %>"
          <% if (department.slug === departmentFilter) { %>selected<% } %>><%= department.title
          %></option>
          <% }); %>
        </optgroup>
        <% if (agencies.length) {%>
        <optgroup label="Agencies">
          <% _.each(agencies, function (agency) { %>
          <option value="agency:<%= agency.slug %>"
          <% if ('agency:' + agency.slug === departmentFilter) { %>selected<% } %>><%= agency.title
          %></option>
          <% }); %>
        </optgroup>
        <% }%>
      </select>
    </div>
    <% }%>
    <div class="cols3">
      <label for="service" id="filter-service"><span aria-hidden="true">Service</span><span class="visuallyhidden">Select a service to filter services by</span></label>
      <select id="service" name="service">
        <option value="">All services</option>
        <% _.each(services, function (service) { %>
        <option
                value="<%= service.slug %>"<% if (service.slug === serviceFilter) { %>selected<% } %>>
        <%= service.title
        %></option>
        <% }); %>
      </select>
    </div>

    <input type="submit" value="Filter services" id="filter-submit-button"/>
  </div>


</form>

<div class="cols-row cols-row-no-margin vertical-spacing-bottom">
  <div class="cols3">
    <h2 class="visuallyhidden">Number of services</h2>
    <p class="visuallyhidden">The services list can be filtered by keyword and department or agency.</p>
    <div class="impact-number emphasis summary-figure">
      <strong class="align-top summary-figure-count"><%= filteredCount %></strong><span class="align-top summary-figure-unit">services</span>
    </div>
  </div>
</div>

<div class="service-kpis">
  <h2 class="visuallyhidden">Totals and averages for filtered services</h2>
  <div class="cols-row cols-row-no-margin">
    <% _.each(aggregateVals, function (kpi, index) { %>
    <section class="module kpi cols3 <%= kpi.key %>">
      <h3 class="heading-2"><%= kpi.label %></h3>
      <div class="visualisation">
        <div class="visualisation-inner">
          <div class="stat">
            <p class="single-stat-headline impact-number">
              <% if (kpi.formattedValue) {%>
                <strong><%= kpi.formattedValue %></strong>
              <% } else { %>
                <strong class="no-data">no data</strong>
              <% } %>
            </p>
          </div>
        </div>

        <div class="visualisation-moreinfo<% if (!kpi.formattedValue) {%> hidden<% } %>">
          <% if (filteredCount > 1) { %>
          <% if (kpi.isWeighted) { %>
            weighted average
          <% } else { %>
            total
          <% } %> for
          <% } %>
          <a href="#filtered-list" class="js-sort-by" data-sort-by="<%= kpi.key %>">
          <% if (kpi.allRowsHaveValues === true) { %>
            <% if (filteredCount === 1) { %>
              1 service
            <% } else { %>
              all <%= filteredCount %> services
            <% } %>
          <% } else { %>
          <%= kpi.valueCount %> services out of <%= filteredCount %>
          <% } %>
          </a>
        </div>
      </div>
    </section>
    <%
    // 3 modules per row
    if (index === 2) {
    %>
    </div>
    <div class="cols-row cols-row-no-margin">
    <% } %>
    <% }); %>
  </div>

</div>

<section class="filtered-list visualisation-table" id="filtered-list">
  <h2 class="visuallyhidden">List of services</h2>
  <div class="heading-3 mq-small-only">Sort by:</div>
  <%= table %>
</section>
