<div class="single-decker-graph">
  <div class="impact-number">
    <div class="volumetrics-completion-selected"></div>
    <p class="total-responses"></p>
  </div>
  <div class="graph timeseries-graph volumetrics-completion">
      <noscript><div class="visualisation-table-fallback"></div></noscript>
  </div>
</div>
{{#hasBarChart}}
<div class="graph journey volumetrics-bar-selected">

  <h3>Breakdown of survey rating</h3>
  <p>The proportion of each response for the user satisfaction survey rating above</p>
  <p class="volumetrics-bar-period"></p>

    <noscript><div class="visualisation-table-fallback"></div></noscript>
</div>
{{/hasBarChart}}
