<p>
  <div class="stat">
    <p class="impact-number"><strong>{{{ value }}}</strong></p>
    <span class="stat-description" role="presentation">{{{ label }}}</span>
  </div>

  <div class="sparkline">
    <span class="sparkline-title"></span>
    <div class="sparkline-graph" {{#fallbackUrl}}data-src="{{fallbackUrl}}?selector=.sparkline-graph"{{/fallbackUrl}}>
      {{#fallbackUrl}}<noscript><img src="{{fallbackUrl}}?selector=.sparkline-graph"/></noscript>{{/fallbackUrl}}
    </div>
  </div>

</p>
