<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu" role="navigation">
      <a href="/performance" id="proposition-name">Performance</a>
      <span class="beta-tag">Beta</span>
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <ul id="proposition-links">
        <li><a href="/performance/services">Service dashboards</a></li>
        <li><a href="http://performance-platform.readthedocs.org/">Get a dashboard</a></li>
        <li><a href="/performance/prototypes">Prototypes</a></li>
        <li><a href="https://gdsdata.blog.gov.uk/">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>
