<!-- report_a_problem -->
<div class="report-a-problem-container">
  <h2>Help us improve GOV.UK</h2>

  <p>
    The form on this page is for reporting problems with this dashboard.
  </p>

  {{#relatedPages.transaction.url}}
  <p>
    If you've had problems with the service that this dashboard is providing data for, please
    <a href="{{ relatedPages.transaction.url }}">send details to the team responsible for the service</a>.
  </p>
  {{/relatedPages.transaction.url}}

  <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="{{{ govukUrl }}}">
    {{#source}}
    <input id="source" name="source" type="hidden" value="{{ source }}">
    {{/source}}
    {{#pageOwner}}
    <input id="pageOwner" name="pageOwner" type="hidden" value="{{ pageOwner }}">
    {{/pageOwner}}
    <p>Please don't include any personal or financial information,
      for example your National Insurance or credit card numbers.</p>

    <label for="what_doing">What you were doing</label>
    <input id="what_doing" name="what_doing" type="text" />

    <label for="what_wrong">What went wrong</label>
    <input id="what_wrong" name="what_wrong" type="text" />

    <div><button name="commit" type="submit" class="button">Send</button></div>

  </form>
</div>
<!-- end report_a_problem -->
