%brand {
  color: $white;
}
@mixin brand-colour ($background-color, $lighten-by: 8%) {
  background-color: $background-color;
  &.brand-interactive {
    @include transition(background-color, 0.2s, ease-in);
    &:hover {
      background-color: lighten($background-color, $lighten-by);
    }
  }
}

.brand-performance {
  @extend %brand;
  @include brand-colour($performance-brand);
}

.brand-dwp {
  @extend %brand;
  @include brand-colour($department-for-work-pensions, 4%);
}

.brand-ago {
  @extend %brand;
  @include brand-colour($attorney-generals-office);
}

.brand-co {
  @extend %brand;
  @include brand-colour($cabinet-office);
}

.brand-civil-service {
  @extend %brand;
  @include brand-colour($civil-service);
}

.brand-bis {
  @extend %brand;
  @include brand-colour($department-for-business-innovation-skills);
}

.brand-dclg {
  @extend %brand;
  @include brand-colour($department-for-communities-and-local-government);
}

.brand-dcms {
  @extend %brand;
  @include brand-colour($department-for-culture-media-sport);
}

.brand-dfe {
  @extend %brand;
  @include brand-colour($department-for-education);
}

.brand-defra {
  @extend %brand;
  @include brand-colour($department-for-environment-food-rural-affairs);
}

.brand-dfid {
  @extend %brand;
  @include brand-colour($department-for-international-development);
}

.brand-dft {
  @extend %brand;
  @include brand-colour($department-for-transport);
}

.brand-decc {
  @extend %brand;
  @include brand-colour($department-of-energy-climate-change);
}

.brand-dh {
  @extend %brand;
  @include brand-colour($department-of-health);
}

.brand-fco {
  @extend %brand;
  @include brand-colour($foreign-commonwealth-office);
}

.brand-government-equalities-office {
  @extend %brand;
  @include brand-colour($government-equalities-office);
}

.brand-hm-government {
  @extend %brand;
  @include brand-colour($hm-government);
}

.brand-hmrc {
  @extend %brand;
  @include brand-colour($hm-revenue-customs);
}

.brand-hmt {
  @extend %brand;
  @include brand-colour($hm-treasury);
}

.brand-home-office {
  @extend %brand;
  @include brand-colour($home-office);
}

.brand-mod {
  @extend %brand;
  @include brand-colour($ministry-of-defence);
}

.brand-moj {
  @extend %brand;
  @include brand-colour($ministry-of-justice);
}

.brand-nio {
  @extend %brand;
  @include brand-colour($northern-ireland-office);
}

.brand-oag {
  @extend %brand;
  @include brand-colour($office-of-the-advocate-general-for-scotland);
}

.brand-office-of-the-leader-of-the-house-of-lords {
  @extend %brand;
  @include brand-colour($office-of-the-leader-of-the-house-of-lords);
}

.brand-so {
  @extend %brand;
  @include brand-colour($scotland-office);
}

.brand-the-office-of-the-leader-of-the-house-of-commons {
  @extend %brand;
  @include brand-colour($the-office-of-the-leader-of-the-house-of-commons);
}

.brand-ukef {
  @extend %brand;
  @include brand-colour($uk-export-finance);
}

.brand-uk-trade-investment {
  @extend %brand;
  @include brand-colour($uk-trade-investment);
}

.brand-wo {
  @extend %brand;
  @include brand-colour($wales-office);
}
