%brand {
  color: $white;
}
@mixin brand-colour ($background-color, $lighten-by: 8%) {
  background-color: $background-color;
  &.brand-interactive {
    @include transition(background-color, 0.2s, ease-in);
    &:hover {
      background-color: lighten($background-color, $lighten-by);
    }
  }
}

.brand-performance {
  @extend %brand;
  @include brand-colour($performance-brand);
}
