$performance-brand: $govuk-blue;

$primary-colour: #097F96;

$data-colour-1: $primary-colour;
// Performance Platform turquoise
$data-colour-2: #112684;
// Dark blue
$data-colour-3: #D6007D;
// Rose
$data-colour-4: #662E91;
// Purple
$data-colour-5: #5E7F00;
// Olive
$data-colour-6: #005C37;
// Forest green
$data-colour-7: $grey-1;
// Grey

$positive-colour: #74B74A;
$negative-colour: #BF1E2D;

$graph-axis-grey: #444;
