// Set the path that's used in the govuk_frontend_toolkit and in elsewhere in our Sass
// to compile file-url attributes properly.
@import '_url-helpers';
$path: '/spotlight/stylesheets/';

  // govuk_frontend_toolkit
  @import 'colours';
  @import 'grid_layout';
  @import 'typography';
  @import 'design-patterns/buttons';

  // govuk_elements
  @import 'elements/tables';

  // Spotlight
  @import 'common/layout';
  @import 'common/navigation';
  @import 'common/breadcrumbs';
  @import 'common/header';
  @import 'common/typography';
  @import 'common/colours';
  @import 'common/columns';
  @import 'common/report-a-problem';
  @import 'common/footer';

  // Special pages
  @import 'pages/homepage';

  // Dashboards
  @import 'dashboards/visit-this-service';
  @import 'dashboards/big-screen-link';
  @import 'dashboards/raw';
  @import 'dashboards/dashboard-footer';

  // Module meta
  @import 'modules/module';
  @import 'modules/module-more-info';
  @import 'modules/sections';
  @import 'modules/tabs';
  @import 'modules/tooltip';
  @import 'modules/visualisation-fallback';

  // Modules
  @import 'modules/graph';
  @import 'modules/impact-number';
  @import 'modules/change-arrows'; // Green/red increase/decrease arrows
  @import 'modules/journey';
  @import 'modules/single-decker-graph';
  @import 'modules/double-decker-graph';
  @import 'modules/sparkline';
  @import 'modules/grouped-timeseries';
  @import 'modules/visitors-realtime';
  @import 'modules/list';
  @import 'modules/kpi';
  @import 'modules/user-satisfaction';
  @import 'modules/bar-chart-with-number';
  @import 'modules/filtered-list';

  // Components
  @import 'modules/date-picker';
