// Set the path that's used in the govuk_frontend_toolkit and in elsewhere in our Sass
// to compile file-url attributes properly.
@import '_url-helpers';
$path: '/spotlight/stylesheets/';

@import
  // govuk_frontend_toolkit
  '_colours',
  '_conditionals',
  '_css3',
  '_typography',
  'design-patterns/_buttons',

  'colours',
  'typography',
  'change',

  // Main
  'common/layout',
  'common/columns',
  'common/raw',

  // Header
  'common/navigation',
  'common/breadcrumbs',
  'common/header',
  'common/related_pages',

  // Module meta
  'common/module',
  'common/module_more_info',
  'common/tabs',
  'common/tooltip',
  'common/visualisation_fallback',

  // Modules
  'common/graph',
  'common/impact_number',
  'common/journey',
  'common/double-decker-graph',
  'common/single-decker-graph',
  'common/multi_stats',
  'common/sparkline',
  'common/grouped_timeseries',
  'common/visitors_realtime',
  'common/list',
  'common/kpi',
  'common/user_satisfaction',
  'common/table',
  'common/bar_chart_with_number',
  'common/filteredlist',

  // Footer
  'common/dashboard-footer',
  'common/report_a_problem',
  'common/footer',

  // Special pages
  'pages/homepage',
  'pages/prototypes';
