@import
  // govuk_frontend_toolkit
  '_colours',
  '_conditionals',
  '_css3',
  '_typography',
  'design-patterns/_buttons',

  'conditionals',
  'colours',
  'typography',
  'change',

<<<<<<< HEAD
<<<<<<< HEAD
  // Mixins need to be defined first
  'common/popover',

  // Main
=======
  'common/popover',
  'common/footer',
  'common/report_a_problem',
  'common/raw',
>>>>>>> Move popover related Sass into a single file
=======
  // Mixins need to be defined first
  'common/popover',

  // Main
>>>>>>> Reorganise index.scss into logical groups
  'common/layout',
  'common/raw',

  // Header
  'common/navigation',
  'common/breadcrumbs',
  'common/header',
  'common/related_pages',

  // Module meta
  'common/module_banners',
  'common/module_more_info',
  'common/tabs',
  'common/tooltip',
  'common/visualisation_fallback',

  // Modules
  'common/graph',
  'common/impact_number',
  'common/journey',
  'common/double-decker-graph',
  'common/single-decker-graph',
  'common/multi_stats',
  'common/sparkline',
  'common/grouped_timeseries',

  // Footer
  'common/report_a_problem',
  'common/footer';
