// Set the path that's used in the govuk_frontend_toolkit and in elsewhere in our Sass
// to compile file-url attributes properly.
@import '_url-helpers';
$path: '/spotlight/stylesheets/';

@import
  // govuk_frontend_toolkit
  '_colours',
  '_typography',
  'design-patterns/_buttons',
  'design-patterns/_alpha-beta',
  '_grid_layout',

  //elements
  'elements/layout',


  'colours',
  'brands',
  'typography',
  'change',
  'common/responsive_content',

  // Main
  'common/layout',
  'common/columns',
  'common/raw',
  'common/icons',

  // Header
  'common/navigation',
  'common/breadcrumbs',
  'common/header',
  'common/related_pages',
  'common/big_screen_link',

  // Module meta
  'common/module',
  'common/module_more_info',
  'common/sections',
  'common/tabs',
  'common/tooltip',
  'common/visualisation_fallback',

  // Modules
  'common/graph',
  'common/impact_number',
  'common/impact-link',
  'common/journey',
  'common/single-decker-graph',
  'common/double-decker-graph',
  'common/sparkline',
  'common/grouped_timeseries',
  'common/visitors_realtime',
  'common/list',
  'common/kpi',
  'common/user_satisfaction',
  'common/table',
  'common/bar_chart_with_number',
  'common/filteredlist',

  // Components
  'common/date-picker',
  'common/hero-banner',

  // Footer
  'common/dashboard-footer',
  'common/report_a_problem',
  'common/footer',

  // Special pages
  'pages/homepage',
  'pages/prototypes';
