h2 {
  @include core-19;
}

p {
  @include core-16;
}

a[rel="external"] {
  @include external-link-default;
  @include external-link-16;

  @media (max-width: 640px) {
    @include external-link-14;
  }
}

#content {
  h1 {
    @include bold-24;
  }

  h2 {
    margin-top:0;
    @include core-16;
  }

  section {
    margin-top:1em;
    margin-bottom:1.5em;

    h1 {
      @include bold-24;
    }

    h2 {
      margin-top:0;
      @include core-16;
    }
  }
}
