body {
  font-family: $NTA-Light-Tabular;
}

h2 {
  @include core-19;
}

p {
  @include core-16($tabular-numbers: true);
}

a[rel="external"] {
  @include external-link-default;
  @include external-link-16;

}

#content {
  h1 {
    @include bold-24;
  }

  h2 {
    margin-top:0;
    @include core-16;
  }

  section {
    margin-top:1em;
    margin-bottom:1.5em;

    h1, h2 {
      @include bold-24;
    }

    h2.dashboard, h3 {
      @include core-16($tabular-numbers: true);
    }

    .double-decker-graph h3 {
      @include bold-19($tabular-numbers: true);
    }
  }
}
