body {
  font-family: $NTA-Light-Tabular;
}

h2 {
  @include core-19($tabular-numbers: true);
}

p {
  @include core-16($tabular-numbers: true);
}

a[rel="external"] {
  @include external-link-default;
  @include external-link-16;

}

a[rel="external"][target="_blank"]:after {
  // hidden as it's not displayed correctly in IE8 due to browser bug
  .lte-ie8 & {
      display:none;
  }

  background-image: url("../images/icon-newwindow.gif");

  @include device-pixel-ratio() {
    background-image: url("../images/icon-newwindow@2x.gif");
  }
}

#content {
  h1 {
    @include bold-24($tabular-numbers: true);
  }

  h2 {
    margin-top:0;
    @include core-16($tabular-numbers: true);
  }

  section {
    margin-top:1em;
    margin-bottom:1.5em;

    h1 {
      @include bold-24($tabular-numbers: true);
    }

    h2 {
      @include bold-24($tabular-numbers: true);
    }

    h2.dashboard, h3 {
      @include core-16($tabular-numbers: true);
    }

    .double-decker-graph h3 {
      @include bold-19($tabular-numbers: true);
    }

  